*{
padding: 0;
margin: 0;
box-sizing: border-box;
}
.custom-banner{
background-image: url(../images/desk_items.jpg);
background-position: center;
background-repeat: no-repeat;
object-fit: cover;
width: 100%;
clip-path: polygon(100% 0, 100% 80%, 50% 100%, 0 80%, 0 0);
padding: 140px 100px 250px 100px;
}
.custom-banner .banner-heading h2{
font-size: 30px;
font-weight: 500;
color: #00b2ad;
line-height: 30px;
}
.custom-banner .banner-para p{
font-size: 4.125rem;
font-weight: 500;
color: #fff;
line-height: 40px;
margin: 40px 0;
}
.custom-banner .banner-para-two p{
font-size: 30px;
font-weight: 700;
color: #fff;
line-height: 28px;
}
.custom-banner .banner-para-two p a{
color: #00b2ad;
}
.custom-banner .banner-para-two p a:hover{
border-bottom: 1px solid #00b2ad;
}
/*Inner-page-start*/
/*=====About-Us====*/
.who-we-are {
padding: 120px 0;
}
.who-we-are .custom-heading.ms-md-0 {
text-align: center;
}
.who-we-are .custom-heading.ms-md-0 h3 span {
color: var(--c-primary);
text-transform: uppercase;
font-weight: 500;
}
.who-we-are-content .custom-paragraph {
margin-top: 30px;
}
.philosophy {
background-position: center center;
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
padding: 120px 0px;
position: relative;
}
.philosophy::after {
position: absolute;
content: '';
background-color: rgba(0,0,0,0.85);
width: 100%;
height: 100%;
top: 0;
left: 0;
z-index: 0;
}
.philosophy .custom-heading.ms-md-0 {
position: relative;
z-index: 1;
text-align: center;
}
.philosophy .custom-heading.ms-md-0 h3 {
color: var(--c-white-900);
}
.philosophy .custom-heading.ms-md-0 h5 {
color: var(--c-white-900);
}
.philosophy .philosophy-content {
position: relative;
z-index: 2;
}
.philosophy .philosophy-content {
text-align: left;
}
.philosophy .philosophy-content .custom-paragraph p {
color: var(--c-white-900);
padding: 15px 0;
}
.philosophy .philosophy-content .custom-paragraph {
padding: 0 150px;
margin-top: 30px;
}
.philosophy .underline-button {
padding-top: 50px;
justify-content: center;
}
.faq-accordion {
padding: 120px 0;
background-color: var(--c-cyan-100);
}
.faq-content {
box-shadow: 0px 0px 15px rgba(0,0,0,0.065);
margin-top: 60px;
}
.faq-content .accordion-button.collapsed {
font-family: var(--ff-tertiary);
font-size: 22px;
font-weight: 400;
color: var(--c-gray-900);
}
.faq-content .accordion-button {
font-family: var(--ff-tertiary);
font-size: 22px;
font-weight: 400;
color: var(--c-primary);
}
.faq-content .accordion-body {
font-family: var(--ff-primary);
font-size: 18px;
color: var(--c-black-700);
background-color: var(--c-white-800);
}
.faq-content .accordion-button.collapsed {
padding: 25px 30px;
}
.faq-content .accordion-button {
padding: 25px 30px;
}
.faq-accordion .custom-heading.ms-md-0 span {
color: var(--c-primary);
text-transform: uppercase;
font-weight: 500;
}
.faq-accordion .custom-heading.ms-md-0 {
text-align: center;
}
.faq-content .faq-btn {
padding: 20px 0;
}
.faq-accordion .custom-paragraph {
margin-top: 30px;
}
.about-contact {
background-position: center center;
background-size: cover;
background-repeat: no-repeat;
padding: 120px 0px;
position: relative;
}
.about-contact .custom-heading.ms-md-0 h3 {
color: var(--c-white-900);
}
.about-contact .custom-heading.ms-md-0 h5 {
color: var(--c-white-900);
}
.about-contact-btn {
padding-top: 50px;
}
.about-contact-btn .custom-button:hover {
color: var(--c-white-900);
}
.about-contact::after {
position: absolute;
content: '';
background-color: rgba(17, 56, 100, 0.8);
width: 100%;
height: 100%;
top: 0;
left: 0;
z-index: 0;
}
.about-contact-content {
position: relative;
z-index: 2;
text-align: center;
}
.about-contact-content h3 {
font-family: var(--ff-secondary);
color: var(--c-white-900);
font-size: 36px;
font-weight: 700;
}
.who-we-are-content .custom-paragraph .demo.text-2 {
margin-top: 16px;
}
/*=====About-Us====*/
/*=====Career=====*/
.opportunity-box img {
    width: 12%;object-fit: cover;
}
.career-opportunity {
    text-align: center;
}
.career-btn {
    margin-top: 30px;
}
.career-btn li {
    display: inline-block;
}
.opportunity-box h3 {
    padding: 30px 0 10px;
}
.opportunity-box {
    box-shadow: 0 0 16px rgba(0,0,0,0.2);
    padding: 40px;
    transition: all 0.2s ease-in-out;
    position: relative;
}
.opportunity-box::after {
    position: absolute;
    content: '';
    background-color: var(--c-cyan-100);
    width: 100%;
    height: 0;
    left: 0;
    top: 0;
    bottom: auto;
    z-index: -1;
    transition: all 0.3s ease-in-out;
}
.opportunity-box:hover::after {
    height: 100%;
    top: auto;
    bottom: 0;
}
.opportunity-box h3 {
    padding: 30px 0 10px;
    font-size: 25px;
    font-family: var(--ff-secondary);
    font-weight: 600;
    color: var(--c-primary);
    text-transform: uppercase;
}
.opportunity-box h5 {
    font-size: 18px;
    color: var(--c-gray-900);
    font-weight: 400;
}
/*=====Career=====*/
/*=====Our Service====*/
.who-we-are.our-service .custom-paragraph {
    margin-top: 0px;
}
/*=====Our Service====*/
/*=====Plugin====*/
.service-inner-intro.custom-pad .custom-heading {
    text-align: center;
}
.service-inner-highlight-content .custom-paragraph {
    margin-top: 0;
}
.service-inner-intro-content .custom-paragraph p {
    padding: 10px 0;
}
.service-inner-highlight.custom-pad {
    background-color: var(--c-cyan-200);
}
.service-inner-highlight-content {
    background-color: var(--c-white-900);
    padding: 50px;
    box-shadow: 0 0 25px rgba(0,0,0,0.1);
    position: relative;
    z-index: 2;
    transition: all 0.3s ease-in-out;
}
.service-inner-highlight-content:hover {
    color: var(--c-white-900);
}
.service-inner-highlight-content::after {
    position: absolute;
    content: '';
    background-color: var(--c-cyan-500);
    width: 100%;
    height: 0px;
    bottom: 0;
    top: auto;
    left: 0;
    z-index: -1;
    transition: all 0.3s ease-in-out;
}
.service-inner-highlight-content:hover::after {
    bottom: auto;
    top: 0;
    height: 100%;
}
.service-inner-best-content h3 {
    font-family: var(--ff-secondary);
    font-size: 34px;
    font-weight: 600;
    color: var(--c-primary);
}
.service-inner-best-content .custom-paragraph p {
    padding: 10px 0;
    text-align: left;
}
.service-inner-best-second-heading {
    margin-top: 30px;
}
.service-inner-best-content h4 {
    font-family: var(--ff-tertiary);
    font-size: 22px;
    font-weight: 400;
    color: var(--c-black-600);
    margin-top: 20px;
}
.service-inner-best-content .custom-paragraph {
    margin-top: 25px;
}
.service-inner-best.custom-pad {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
}
.service-inner-best.custom-pad::after {
    position: absolute;
    content: '';
    background-color: rgba(255,255,255,0.96);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}
.service-inner-best-content {
    position: relative;
    z-index: 3;
}
.ceo-img {
    text-align: center;
}
.ceo-content .custom-paragraph p {
    padding: 0 0px;
    text-align: left;
}
.ceo-content .custom-paragraph {
    margin-top: 35px;
}
.ceo-name h5 {
    font-family: var(--ff-secondary);
    font-size: 24px;
    font-weight: 600;
    color: var(--c-primary);
    margin-bottom: 10px;
}
.ceo-name h6 {
    font-weight: 600;
    color: var(--c-black-700);
}
.ceo-content {
    padding: 30px;
}
.ceo-circle-img img {
    border-radius: 10px;
}
.service-inner-ceo.custom-pad {
    background-color: var(--c-cyan-200);
}
.ceo-circle-img {
    position: relative;
    z-index: 2;
}
.ceo-circle-img::after {
    position: absolute;
    content: '';
    border: 2px solid var(--c-primary);
    height: 100%;
    width: 270px;
    left: 10px;
    top: -23px;
    z-index: -1;
    border-radius: 10px;
  }
/*=====Plugin=====*/
/*Inner-page-end*/
/*Responsive-Start-fdev-sg*/
@media (min-width: 1920px) and (max-width: 2500px){

}

@media (min-width: 1600px) and (max-width: 1920px){

}

@media (min-width: 1366px) and (max-width: 1600px){
/*About-Us*/
.who-we-are {padding: 100px 0;}
.philosophy {padding: 100px 0px;}
.faq-accordion {padding: 100px 0;}
.about-contact {padding: 100px 0px;}
.philosophy .underline-button {padding-top: 20px;}
/*About-Us*/
/*Plugin*/
.ceo-img {text-align: right;}
.ceo-circle-img::after {left: 30px;}
.service-inner-best-content h3 {font-size: 30px;}
.service-inner-best-content h4 {font-size: 20px;}
.service-inner-highlight-content .custom-paragraph p {padding: 0 70px;}
.service-inner-best-content .custom-paragraph p {padding: 8px 0;}
.service-inner-best-content .custom-paragraph {margin-top: 10px;}
.service-inner-intro-content .custom-paragraph p {padding: 8px 0;}
.service-inner-intro-content .custom-paragraph {margin-top: 40px;}
/*Plugin*/
}

@media (min-width: 1200px) and (max-width: 1366px){
/*About-Us*/
.who-we-are {padding: 90px 0;}
.philosophy {padding: 90px 0px;}
.faq-accordion {padding: 90px 0;}
.about-contact {padding: 90px 0px;}
.about-contact-content h3 {font-size: 32px;}
.philosophy .underline-button {padding-top: 20px;}
.about-contact-btn {padding-top: 40px;}
.who-we-are-content .custom-paragraph {margin-top: 40px;}
.faq-accordion .custom-paragraph {margin-top: 40px;}
/*About-Us*/
/*Career*/
.opportunity-box {padding: 30px 20px;}
.opportunity-box h3 {padding: 20px 0 10px;font-size: 22px;}
.career-btn {margin-top: 20px;}
/*Career*/
/*Plugin*/
.ceo-img {text-align: right;}
.ceo-circle-img::after {left: 60px;width: 200px;}
.service-inner-best-content h3 {font-size: 30px;}
.service-inner-best-content h4 {font-size: 20px;}
.service-inner-highlight-content .custom-paragraph p {padding: 0 70px;}
.service-inner-best-content .custom-paragraph p {padding: 8px 0;}
.service-inner-best-content .custom-paragraph {margin-top: 10px;}
.service-inner-intro-content .custom-paragraph p {padding: 8px 0;}
.service-inner-intro-content .custom-paragraph {margin-top: 35px;}
.ceo-circle-img img {border-radius: 10px;width: 70%;}
/*Plugin*/
}

@media (min-width: 1024px) and (max-width: 1200px){
/*About-Us*/
.who-we-are {padding: 80px 0;}
.philosophy {padding: 80px 0px;}
.faq-accordion {padding: 80px 0;}
.about-contact {padding: 80px 0px;}
.philosophy .philosophy-content .custom-paragraph {padding: 0 90px;}
.faq-content .accordion-button.collapsed {font-size: 20px;}
.faq-content .accordion-button {font-size: 20px;}
.about-contact-content h3 {font-size: 32px;}
.philosophy .underline-button {padding-top: 20px;}
.about-contact-btn {padding-top: 40px;}
.who-we-are-content .custom-paragraph {margin-top: 40px;}
.faq-accordion .custom-paragraph {margin-top: 40px;}
/*About-Us*/
/*Career*/
.opportunity-box {padding: 30px 20px;}
.opportunity-box h3 {padding: 20px 0 10px;font-size: 22px;}
.career-btn {margin-top: 20px;}
.career-btn li .custom-button {width: 130px;height: 46px;}
.opportunity-box h5 {font-size: 16px;}
/*Career*/
/*Plugin*/
.ceo-img {text-align: right;}
.ceo-circle-img::after {left: 50px;width: 165px;border-radius: 5px;top: -20px;}
.service-inner-best-content h3 {font-size: 30px;}
.service-inner-best-content h4 {font-size: 20px;}
.service-inner-highlight-content .custom-paragraph p {padding: 0 70px;}
.service-inner-best-content .custom-paragraph p {padding: 8px 0;text-align: center;}
.service-inner-best-content .custom-paragraph {margin-top: 10px;}
.service-inner-intro-content .custom-paragraph p {padding: 8px 0;}
.service-inner-intro-content .custom-paragraph {margin-top: 35px;}
.ceo-circle-img img {border-radius: 5px;width: 70%;}
.service-inner-best-content {text-align: center;}
.service-inner-intro.custom-pad .custom-heading .main-heading {line-height: 55px;}
/*Plugin*/
}

@media (min-width: 992px) and (max-width: 1024px) {
/*About-Us*/
.who-we-are {padding: 80px 0;}
.philosophy {padding: 80px 0px;}
.faq-accordion {padding: 80px 0;}
.about-contact {padding: 80px 0px;}
.philosophy .philosophy-content .custom-paragraph {padding: 0 60px;}
.faq-content .accordion-button.collapsed {font-size: 20px;}
.faq-content .accordion-button {font-size: 20px;}
.about-contact-content h3 {font-size: 28px;}
.philosophy .underline-button {padding-top: 20px;}
.about-contact-btn {padding-top: 40px;}
.who-we-are-content .custom-paragraph {margin-top: 40px;}
.faq-accordion .custom-paragraph {margin-top: 40px;}
.who-we-are-content .custom-paragraph .demo.text-2 {margin-top: 24px;}
/*About-Us*/
/*Career*/
.opportunity-box {padding: 30px 15px;}
.opportunity-box h3 {padding: 20px 0 10px;font-size: 22px;}
.career-btn {margin-top: 20px;}
.career-btn li .custom-button {width: 130px;height: 46px;}
.opportunity-box h5 {font-size: 14px;}
/*Career*/
/*Plugin*/
.ceo-img {text-align: right;}
.ceo-circle-img::after {left: 50px;width: 160px;border-radius: 5px;top: -20px;}
.service-inner-best-content h3 {font-size: 30px;}
.service-inner-best-content h4 {font-size: 20px;}
.service-inner-highlight-content .custom-paragraph p {padding: 0 70px;}
.service-inner-best-content .custom-paragraph p {padding: 8px 0;text-align: center;}
.service-inner-best-content .custom-paragraph {margin-top: 10px;}
.service-inner-intro-content .custom-paragraph p {padding: 8px 0;}
.service-inner-intro-content .custom-paragraph {margin-top: 35px;}
.ceo-circle-img img {border-radius: 5px;width: 70%;}
.service-inner-best-content {text-align: center;}
.service-inner-intro.custom-pad .custom-heading .main-heading {line-height: 50px;}
/*Plugin*/
}

@media only screen and (max-width: 991.98px) {    
/*About-Us*/
.who-we-are {padding: 70px 0;}
.philosophy {padding: 70px 0px;}
.faq-accordion {padding: 70px 0;}
.about-contact {padding: 70px 0px;}
.about-contact-content {padding: 0px; text-align: center;}
.faq-content .accordion-button.collapsed {font-size: 20px;}
.faq-content .accordion-button {font-size: 20px;}
.about-contact-btn {padding-top: 50px;}
.about-contact-btn .custom-button {margin-right: 0px;}
.about-contact-content h3 {font-size: 28px;}
.about-contact-content h3 {padding: 0 40px;}
.philosophy .underline-button {padding-top: 20px;}
.about-contact-btn {padding-top: 40px;}
.who-we-are-content .custom-paragraph {margin-top: 30px;}
.faq-accordion .custom-paragraph {margin-top: 30px;}
.philosophy .philosophy-content .custom-paragraph {padding: 0 0px;}
.philosophy .custom-heading.ms-md-0 h3 {line-height: 40px;}
.philosophy .philosophy-content .custom-paragraph {margin-top: 20px;}
.faq-content {margin-top: 40px;}
.who-we-are-content .custom-paragraph .demo.text-2 {margin-top: 24px;}
/*About-Us*/
/*Career*/
.opportunity-box {padding: 30px 15px;}
.opportunity-box h3 {padding: 20px 0 10px;font-size: 22px;}
.career-btn {margin-top: 20px;}
.career-btn li .custom-button {width: 130px;height: 46px;}
.opportunity-box h5 {font-size: 14px;}
.opportunity-box.third {margin-top: 26px;}
/*Career*/
/*Plugin*/
.ceo-img {text-align: center;}
.ceo-circle-img::after {left: 150px;width: 380px;border-radius: 5px;top: -30px;}
.service-inner-best-content h3 {font-size: 30px;}
.service-inner-best-content h4 {font-size: 20px;}
.service-inner-highlight-content .custom-paragraph p {padding: 0 0px;}
.service-inner-best-content .custom-paragraph p {padding: 8px 0;text-align: center;}
.service-inner-best-content .custom-paragraph {margin-top: 10px;}
.service-inner-intro-content .custom-paragraph p {padding: 8px 0;}
.service-inner-intro-content .custom-paragraph {margin-top: 20px;}
.ceo-circle-img img {border-radius: 5px;width: 50%;}
.service-inner-best-content {text-align: center;}
.service-inner-intro.custom-pad .custom-heading .main-heading {line-height: 50px;}
.ceo-content {text-align: center;}
.service-inner-highlight-content {padding: 30px 10px;}
.ceo-content .custom-paragraph p {text-align: center;}
.ceo-content .custom-paragraph {margin-top: 20px;}
.ceo-content {padding: 30px 0 0;}
/*Plugin*/
}

@media (max-width: 767.98px){
/*About-Us*/
.who-we-are {padding: 60px 0;}
.philosophy {padding: 60px 0px;}
.faq-accordion {padding: 60px 0;}
.about-contact {padding: 60px 0px;}  
.faq-content .accordion-button.collapsed {font-size: 17px;}
.faq-content .accordion-button {font-size: 17px;}
.faq-content .accordion-body {font-size: 15px;}
.about-contact-content h3 {padding: 0 0px;}
.about-contact-btn {padding-top: 30px;}
.philosophy .philosophy-content .custom-paragraph {margin-top: 15px;}
/*About-Us*/ 
/*Career*/
.opportunity-box.third {margin-bottom: 0px;}
.opportunity-box.third {margin-top: 0px;}
.opportunity-box {margin-bottom: 25px;}
/*Career*/
/*Plugin*/
.ceo-circle-img::after {left: 110px;width: 280px;}
.service-inner-best-content h3 {font-size: 26px;}
.service-inner-best-content h4 {font-size: 18px;}
.service-inner-intro.custom-pad .custom-heading .main-heading {line-height: 40px;}
/*Plugin*/
}

@media (max-width: 575.98px){
/*About-Us*/
.who-we-are {padding: 40px 0;}
.philosophy {padding: 40px 0px;}
.faq-accordion {padding: 40px 0;}
.about-contact {padding: 40px 0px;}  
.philosophy .custom-heading.ms-md-0 h3 {line-height: 45px;}
.faq-content {margin-top: 50px;}
.about-contact-content h3 {font-size: 22px;line-height: 35px;}
.faq-content {margin-top: 30px;}
.about-contact-btn {padding-top: 20px;}
.philosophy .underline-button {padding-top: 10px;}
.faq-content .accordion-button.collapsed {padding: 20px 20px;}
.faq-content .accordion-button {padding: 20px 20px;}
.faq-content .faq-btn {padding: 20px 0 15px;}
.who-we-are-content .custom-paragraph .demo.text-2 {margin-top: 14px;}
.philosophy .philosophy-content .custom-paragraph {margin-top: 8px;}
/*About-Us*/    
/*Career*/
.opportunity-box h3 {font-size: 20px;}
.opportunity-box {padding: 30px 5px;}
/*Career*/
/*Plugin*/
.ceo-circle-img::after {left: 40px;width: 320px;}
.ceo-circle-img img {width: 70%;}
.service-inner-best-content h3 {font-size: 24px;}
.service-inner-best-content h4 {margin-top: 10px;}
/*Plugin*/
}

@media only screen and (max-width: 480.98px) {	
/*About-Us*/    
.philosophy .custom-heading.ms-md-0 h3 {line-height: 25px;}
.about-contact-btn .custom-button {display: block;}
.about-contact-btn {justify-content: center;display: flex;}
.faq-content .accordion-button.collapsed {font-size: 16px;}
.faq-content .accordion-button {font-size: 16px;}
.about-contact-content h3 {padding: 0 0px;}
/*About-Us*/ 
/*Plugin*/
.service-inner-intro.custom-pad .custom-heading .main-heading {line-height: 30px;}
.service-inner-intro-content .custom-paragraph {margin-top: 10px;}
.service-inner-best.custom-pad {padding: 40px 0;}
.ceo-circle-img::after {left: 20px;width: 250px;}
/*Plugin*/
}
@media only screen and (max-width: 374.98px) {
.ceo-circle-img::after {left: 20px;width: 210px;}
}
/*Responsive-End-fdev-sg*/