*{
padding: 0;
margin: 0;
box-sizing: border-box;
}
.custom-banner{
background-image: url(../images/desk_items.jpg);
background-position: center;
background-repeat: no-repeat;
object-fit: cover;
width: 100%;
clip-path: polygon(100% 0, 100% 80%, 50% 100%, 0 80%, 0 0);
padding: 140px 100px 250px 100px;
}
.custom-banner .banner-heading h2{
font-size: 30px;
font-weight: 500;
color: #00b2ad;
line-height: 30px;
}
.custom-banner .banner-para p{
font-size: 4.125rem;
font-weight: 500;
color: #fff;
line-height: 40px;
margin: 40px 0;
}
.custom-banner .banner-para-two p{
font-size: 30px;
font-weight: 700;
color: #fff;
line-height: 28px;
}
.custom-banner .banner-para-two p a{
color: #00b2ad;
}
.custom-banner .banner-para-two p a:hover{
border-bottom: 1px solid #00b2ad;
}
/*Inner-page-start*/
/*=====About-Us====*/
.who-we-are {
padding: 120px 0;
}
.who-we-are .custom-heading.ms-md-0 {
text-align: center;
}
.who-we-are .custom-heading.ms-md-0 h3 span {
color: var(--c-primary);
text-transform: uppercase;
font-weight: 500;
}
.philosophy {
background-position: center center;
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
padding: 120px 0px;
position: relative;
}
.philosophy::after {
position: absolute;
content: '';
background-color: rgba(0,0,0,0.85);
width: 100%;
height: 100%;
top: 0;
left: 0;
z-index: 0;
}
.philosophy .custom-heading.ms-md-0 {
position: relative;
z-index: 1;
text-align: center;
}
.philosophy .custom-heading.ms-md-0 h3 {
color: var(--c-white-900);
}
.philosophy .custom-heading.ms-md-0 h5 {
color: var(--c-white-900);
}
.philosophy .philosophy-content {
position: relative;
z-index: 2;
}
.philosophy .philosophy-content {
text-align: left;
}
.philosophy .philosophy-content .custom-paragraph p {
color: var(--c-white-900);
padding: 15px 0;
}
.philosophy .philosophy-content .custom-paragraph {
padding: 0 150px;
}
.philosophy .underline-button {
padding-top: 50px;
justify-content: center;
}
.faq-accordion {
padding: 120px 0;
background-color: var(--c-cyan-100);
}
.faq-content {
box-shadow: 0px 0px 15px rgba(0,0,0,0.065);
margin-top: 60px;
}
.faq-content .accordion-button.collapsed {
font-family: var(--ff-tertiary);
font-size: 22px;
font-weight: 400;
color: var(--c-gray-900);
}
.faq-content .accordion-button {
font-family: var(--ff-tertiary);
font-size: 22px;
font-weight: 400;
color: var(--c-primary);
}
.faq-content .accordion-body {
font-family: var(--ff-primary);
font-size: 18px;
color: var(--c-black-700);
background-color: var(--c-white-800);
}
.faq-content .accordion-button.collapsed {
padding: 25px 30px;
}
.faq-content .accordion-button {
padding: 25px 30px;
}
.faq-accordion .custom-heading.ms-md-0 span {
color: var(--c-primary);
text-transform: uppercase;
font-weight: 500;
}
.faq-accordion .custom-heading.ms-md-0 {
text-align: center;
}
.faq-content .faq-btn {
padding: 20px 0;
}
.about-contact {
background-position: center center;
background-size: cover;
background-repeat: no-repeat;
padding: 120px 0px;
position: relative;
}
.about-contact .custom-heading.ms-md-0 h3 {
color: var(--c-white-900);
}
.about-contact .custom-heading.ms-md-0 h5 {
color: var(--c-white-900);
}
.about-contact-btn {
padding-top: 30px;
}
.about-contact-btn .custom-button:hover {
color: var(--c-white-900);
}
.about-contact::after {
position: absolute;
content: '';
background-color: rgba(0,0,0,0.8);
width: 100%;
height: 100%;
top: 0;
left: 0;
z-index: 0;
}
.about-contact-content {
position: relative;
z-index: 2;
text-align: center;
}
.about-contact-content h3 {
font-family: var(--ff-secondary);
color: var(--c-white-900);
font-size: 36px;
font-weight: 700;
}
.who-we-are-content .custom-paragraph .demo.text-2 {
margin-top: 16px;
}
/*=====About-Us====*/
/*Inner-page-end*/
/*Responsive-Start-fdev-sg*/
@media (min-width: 1920px) and (max-width: 2500px){

}

@media (min-width: 1600px) and (max-width: 1920px){

}

@media (min-width: 1366px) and (max-width: 1600px){
/*About-Us*/
.who-we-are {padding: 100px 0;}
.philosophy {padding: 100px 0px;}
.faq-accordion {padding: 100px 0;}
.about-contact {padding: 100px 0px;}
.about-contact-content {padding-left: 80px;}
/*About-Us*/
}

@media (min-width: 1200px) and (max-width: 1366px){
/*About-Us*/
.who-we-are {padding: 90px 0;}
.philosophy {padding: 90px 0px;}
.faq-accordion {padding: 90px 0;}
.about-contact {padding: 90px 0px;}
.about-contact-content {padding-left: 80px;}
.about-contact-content h3 {font-size: 32px;}
/*About-Us*/
}

@media (min-width: 1024px) and (max-width: 1200px){
/*About-Us*/
.who-we-are {padding: 80px 0;}
.philosophy {padding: 80px 0px;}
.faq-accordion {padding: 80px 0;}
.about-contact {padding: 80px 0px;}
.about-contact-content {padding-left: 40px;}
.philosophy .philosophy-content .custom-paragraph {padding: 0 90px;}
.faq-content .accordion-button.collapsed {font-size: 20px;}
.faq-content .accordion-button {font-size: 20px;}
.about-contact-content h3 {font-size: 32px;}
/*About-Us*/
}

@media (min-width: 992px) and (max-width: 1024px) {
/*About-Us*/
.who-we-are {padding: 80px 0;}
.philosophy {padding: 80px 0px;}
.faq-accordion {padding: 80px 0;}
.about-contact {padding: 80px 0px;}
.about-contact-content {padding-left: 40px;}
.philosophy .philosophy-content .custom-paragraph {padding: 0 60px;}
.faq-content .accordion-button.collapsed {font-size: 20px;}
.faq-content .accordion-button {font-size: 20px;}
.philosophy .underline-button {padding-top: 30px;}
.about-contact-content h3 {font-size: 28px;}
/*About-Us*/
}

@media only screen and (max-width: 991.98px) {    
/*About-Us*/
.who-we-are {padding: 70px 0;}
.philosophy {padding: 70px 0px;}
.faq-accordion {padding: 70px 0;}
.about-contact {padding: 70px 0px;}
.about-contact-content {padding: 0px; text-align: center;}
.faq-content .accordion-button.collapsed {font-size: 20px;}
.faq-content .accordion-button {font-size: 20px;}
.about-contact-btn {padding-top: 50px;}
.philosophy .underline-button {padding-top: 30px;}
.about-contact-btn .custom-button {margin-right: 0px;}
.about-contact-content h3 {font-size: 28px;}
.about-contact-content h3 {padding: 0 40px;}
/*About-Us*/
}

@media (max-width: 767.98px){
/*About-Us*/
.who-we-are {padding: 60px 0;}
.philosophy {padding: 60px 0px;}
.faq-accordion {padding: 60px 0;}
.about-contact {padding: 60px 0px;}  
.faq-content .accordion-button.collapsed {font-size: 17px;}
.faq-content .accordion-button {font-size: 17px;}
.faq-content .accordion-body {font-size: 15px;}
/*About-Us*/ 
}

@media (max-width: 575.98px){
/*About-Us*/
.who-we-are {padding: 40px 0;}
.philosophy {padding: 40px 0px;}
.faq-accordion {padding: 40px 0;}
.about-contact {padding: 40px 0px;}  
.philosophy .custom-heading.ms-md-0 h3 {line-height: 45px;}
.faq-content {margin-top: 50px;}
.about-contact-content h3 {font-size: 24px;line-height: 35px;}
.faq-content {margin-top: 30px;}
.about-contact-content h3 {padding: 0 30px;}
.about-contact-btn {padding-top: 20px;}
.philosophy .underline-button {padding-top: 20px;}
.faq-content .accordion-button.collapsed {padding: 20px 20px;}
.faq-content .accordion-button {padding: 20px 20px;}
.faq-content .faq-btn {padding: 20px 0 15px;}
/*About-Us*/    
}

@media only screen and (max-width: 480.98px) {	
/*About-Us*/    
.philosophy .custom-heading.ms-md-0 h3 {line-height: 25px;}
.about-contact-btn .custom-button {display: block;}
.about-contact-btn {justify-content: center;display: flex;}
.faq-content .accordion-button.collapsed {font-size: 16px;}
.faq-content .accordion-button {font-size: 16px;}
/*About-Us*/ 
}


/*Responsive-End-fdev-sg*/