@charset "utf-8";
/* CSS Document */


@media (min-width: 1920px) and (max-width: 2500px){
	
}

@media (min-width: 1600px) and (max-width: 1920px){
	
}

@media (min-width: 1200px) and (max-width: 1600px){
	
}

@media (min-width: 1024px) and (max-width: 1200px){
    .footer-wrap {padding-top: 145px;}	
}

@media (min-width: 992px) and (max-width: 1024px) {
  .footer-wrap {padding: 140px 0 130px;}
	
}

@media only screen and (max-width: 991.98px) {    
.navbar-toggler { float: left;margin: 0; height: 45px; width: 45px; border-radius: 0;z-index: 1}
.navbar-toggler .icon-bar { width: 24px; background: #fff;transition: .5s ease;}
.navbar-toggler.collapsed .icon-bar:nth-child(2){transform: rotate(0) translateY(0) translateX(0);}
.navbar-toggler.collapsed .icon-bar:nth-child(3){opacity:1}
.navbar-toggler.collapsed .icon-bar:nth-child(4){transform:rotate(0) translateY(0) translateX(0);}
/*.navbar-toggler .icon-bar:nth-child(2){transform: rotate(-45deg) translateY(5px) translateX(-5px);}*/
.navbar-toggler .icon-bar:nth-child(3){opacity: 0}
.navbar-toggler .icon-bar:nth-child(4){transform:rotate(45deg) translateY(-4px) translateX(-3px);}
.navbar-header {display: block;}


/* Paulami Saha 23.09.2022 Start */
.footer-wrap {padding: 120px 0 100px;} 
.footer-wrap .links {margin-top: 22px;}
/* .footer-wrap .vertical-footer {text-align: center;} */
.footer-wrap .footer-5{text-align: center;}
.footer-wrap .copyright-left {text-align: center;margin-top: 15px;}
.footer-wrap .copyright-right {text-align: center;margin-top: 40px;}
.footer-wrap .copyright-right .review li h5 {margin-right: 16px;}
.footer-wrap .footer-5 .contact li p {margin-top: 22px;}
.footer-wrap .contact li {padding: 0 0 40px 0;}
.footer-wrap .footer-5 .custom-phone-heading {margin-bottom: 22px;}
.footer-wrap .footer-5 .follow-us {margin-top: 26px;}
/* Paulami Saha 24.09.2022 End */


.custom-navbar-toggle .icon-bar {width: 20px;height: 1px;display: inline-block;transition: .5s ease;background-color: black;}
.banner-content h1{margin-left: 180px;}
/*.banner-content h4{margin-left: 180px;}*/

}


@media (max-width: 767.98px){


    /* Paulami Saha 23.09.2022 Start */
    .footer-wrap {padding: 90px 0 80px;} 
    .footer-wrap .copyright-left {margin-top: 20px;}
    .footer-wrap .copyright-right {margin-top: 35px;}
    .footer-wrap .copyright-right .review li h5 {margin-right: 12px;}
    .footer-wrap .copyright-right .review li {padding: 0 0 0 2px;}
    .footer-wrap .footer-5 .custom-phone-heading {margin-bottom: 18px;}
    .footer-wrap .contact li {padding: 0 0 36px 0;}
    .footer-wrap .links li a {font-size: 18px;}
    .footer-wrap .footer-5 .contact li p {font-size: 18px;margin-top: 18px;}
    .footer-wrap .footer-5 ul li a {font-size: 18px;}
    .footer-wrap .links {margin-top: 18px;}
    .footer-wrap .footer-5 .follow-us {margin-top: 24px;}
      /* Paulami Saha 24.09.2022 End */

}

@media (max-width: 575.98px){

  /* Paulami Saha 23.09.2022 Start */
  .footer-wrap .vertical-footer {text-align: center;}
  .footer-wrap .links li {padding: 0 0 7px 0;}
  .footer-wrap .links {margin-top: 12px;}
  .footer-wrap .links li a {font-weight: 410;font-size: 16px;}
  .footer-wrap .footer-5 .contact li p {font-weight: 410;margin-top: 14px;line-height: 25px;font-size: 16px;}
  .footer-wrap .footer-5 .custom-phone-heading {margin-bottom: 12px;}
  .footer-wrap .footer-5 ul li a {font-weight: 410;font-size: 16px;}
  .footer-wrap .copyright-right .review li h5 {margin-right: 5px;}
  .footer-wrap .copyright-right .review li {padding:0;}
  .footer-wrap .footer-5 .contact li .follow-us li {padding: 0 2px 0px 0;}
  .footer-wrap .footer-5 .follow-us {margin-top: 20px;}
  .footer-wrap {padding-bottom: 65px;}
  .footer-wrap .copyright-right {margin-top: 30px;}
  .footer-wrap .copyright-left {margin-top: 18px;}
  .footer-wrap .contact li {padding: 0 0 27px 0;}
/* Paulami Saha 24.09.2022 End */


    .custom-button{width: 130px;height: 50px;line-height: 50px;}
    .custom-navbar-brand img {width: 80%;}
}

@media (max-width: 575.98px){
    .navbar-brand.custom-navbar-brand.ms-0 {width: 40%;}

}

@media only screen and (max-width: 480.98px) {	
    .custom-button{display: none;}
    .navbar-brand.custom-navbar-brand.ms-0 {width: 50%;}
}

