@charset "utf-8";
/* CSS Document */


@media (min-width: 1920px) and (max-width: 2500px){

}

@media (min-width: 1600px) and (max-width: 1920px){



/*---see all projects start(Supriyo)---*/
.project .all-project-1 {min-height: 520px;}
.project .all-project-2 {min-height: 550px;}
.project .section-category-3 .inner-project-1 {min-height: 260px;}
.project .section-category-3 .inner-project-2 {min-height: 260px;}
.project .section-category-3 .inner-project-3 {min-height: 260px;}
.inner-project-3-content {left: 50px;}
.all-project-2-content {bottom: 40%;}
.project .all-project-2-content:hover {bottom: 42%;}

/*---see all projects end(Supriyo)---*/
}
@media (min-width: 1700px) and (max-width: 1920px){
/*---Banner start(Supriyo)---*/
.banner-right .banner-right-heading {font-size: 225px;}
.banner-right .banner-right-heading {bottom: -41px;}

/*---Banner end(Supriyo)---*/
}
@media (min-width: 1600px) and (max-width: 1700px){
/*---Banner start(Supriyo)---*/
.banner-right .banner-right-heading {font-size: 225px;}
.banner-right .banner-right-heading {bottom: -41px;}
/*---Banner end(Supriyo)---*/
/*Changes-fdev-sg*/
.introduction.custom-pad {padding: 130px 0 170px 0;}
.blog-content {margin-bottom: 80px;}
/*Changes-fdev-sg*/
}

@media (min-width: 1400px) and (max-width: 1600px){
/*---Banner start(Supriyo)---*/
.banner-right .banner-right-heading {font-size: 205px;line-height: 220px;bottom: -39px;}

/*---Banner end(Supriyo)---*/
/*Changes-fdev-sg*/
.introduction.custom-pad {padding: 130px 0 170px 0;}
.blog-content {margin-bottom: 80px;}
/*Changes-fdev-sg*/
}
@media (min-width: 1200px) and (max-width: 1400px){
/*---Banner start(Supriyo)---*/
.banner-right .banner-right-heading {font-size: 180px;line-height: 180px;bottom: -28px;}
.banner {padding: 100px 0 100px 0;}
.banner-content h2 {font-size: 35px;margin-top: 30px;}
.banner .underline-button {margin-top: 30px;}

/*---Banner end(Supriyo)---*/



}

@media (min-width: 1200px) and (max-width: 1600px){

/*---see all projects start(Supriyo)---*/
.project .all-project-1 {min-height: 420px;}
.project .all-project-2 {min-height: 450px;}
.project .section-category-3 .inner-project-1 {min-height: 210px;}
.project .section-category-3 .inner-project-2 {min-height: 210px;}
.project .section-category-3 .inner-project-3 {min-height: 210px;}
.all-project-1-content h3 a {font-size: 25px;}
.all-project-2-content h3 a {font-size: 25px;}
.inner-project-1 .inner-project-1-content h3 a {font-size: 25px;}
.inner-project-1-content {left: 50px;}
.inner-project-2 .inner-project-2-content h3 a {font-size: 25px;}
.inner-project-3 .inner-project-3-content h3 a {font-size: 25px;}
.inner-project-3-content {left: 25px;}
.inner-project-2-content {left: 50px;}
.project .all-project-2-content:hover {bottom: 50%;}
.all-project-2-content {bottom: 48%;left: 50px;}
.all-project-heading h4 a {padding: 0px 0 8px 0;font-size: 18px;}
/* Paulami Saha 23.09.2022 Start */

/* **********************Introduction Start*************************** */
.introduction .intro-left p {font-size: 28px;line-height: 46px;margin-top: 50px;padding-right: 56px;}
.introduction .intro-right {padding-top: 65px;}
.introduction .intro-right .website li p {    margin-top: 10px;line-height: 24px; }
.introduction .intro-right .count-2 {margin-top: 25px;}
/* **********************Introduction End*************************** */

/* Paulami Saha 24.09.2022 End */



/*---see all projects end(Supriyo)---*/

/*---Contact us start(Supriyo)---*/
.contact-us {padding: 100px 0 115px;}
.contact-top-right p {font-size: 17px;}
.contact-us .custom-heading h3 {font-size: 40px;}
.contact-form .form-control::placeholder {font-size: 17px;}
.contact-button .btn.btn-primary {font-size: 14px;}
.contact-top-right p {padding: 0 70px 0 0;}
.contact-us .custom-heading.ms-md-0 {padding: 0px 180px 0 0px;}
.contact-form {margin-top: 110px;}
/*---Contact us end(Supriyo)---*/
}

@media (min-width: 1366px) and (max-width: 1600px){
/*Changes-fdev-sg*/
.introduction.custom-pad {padding: 100px 0 140px 0;}
.blog-content {margin-bottom: 80px;}
.introduction .intro-left p {padding-right: 0px !important;}
.leading-brands.custom-pad {padding: 110px 0;}
.technology.custom-pad {padding: 110px 0;}
.blog-text p::after {width: 1340px;}
.blog-section.custom-pad {padding-top: 110px;}
.introduction .intro-left p {font-size: 22px !important;}
/*Changes-fdev-sg*/
.custom-inner-banner .shape-1 {width: 630px;height: 630px;top: -95%;left: -16%;}
.custom-inner-banner .shape-2 {width: 650px;height: 650px;top: -87%;left: -23%;}
.custom-inner-banner .shape-3 {width: 480px;height: 480px;right: -10%;bottom: -59%;}
.custom-inner-banner .shape-4 {width: 490px;height: 490px;right: -8.5%;bottom: -48%;}
.custom-inner-banner .breadcrumb-item {font-size: 22px;}
.custom-inner-banner .breadcrumb-item + .breadcrumb-item::before {font-size: 21px;}
.custom-inner-banner-content-wrap h2 {font-size: 65px;margin-top: 12px;}
.custom-inner-banner .breadcrumb-item a::after {width: 54px;}
}
@media (min-width: 1200px) and (max-width: 1366px){
/*Changes-fdev-sg*/
.introduction.custom-pad {padding: 70px 0 110px 0;}
.blog-content {margin-bottom: 80px;}
.introduction .intro-left p {padding-right: 0px !important;}
.leading-brands.custom-pad {padding: 110px 0;}
.technology.custom-pad {padding: 110px 0;}
.blog-text p::after {width: 1340px;}
.blog-section.custom-pad {padding-top: 110px;}
.introduction .intro-left p {font-size: 22px !important;}
.introduction.custom-pad .underline-button {padding-top: 40px;}
/*Changes-fdev-sg*/
.custom-inner-banner .shape-1 {width: 600px;height: 600px;top: -95%;left: -19%;}
.custom-inner-banner .shape-2 {width: 600px;height: 600px;top: -87%;left: -25%;}
.custom-inner-banner .shape-3 {width: 450px;height: 450px;right: -10%;bottom: -59%;}
.custom-inner-banner .shape-4 {width: 450px;height: 450px;right: -8.5%;bottom: -48%;}
.custom-inner-banner .breadcrumb-item {font-size: 20px;}
.custom-inner-banner .breadcrumb-item + .breadcrumb-item::before {font-size: 20px;}
.custom-inner-banner-content-wrap h2 {font-size: 60px;margin-top: 12px;}
.custom-inner-banner .breadcrumb-item a::after {width: 50px;}
}

@media (min-width: 1024px) and (max-width: 1200px){

/*---Banner start(Supriyo)---*/
.banner-right .banner-right-heading {font-size:160px;line-height:180px;bottom:-34px;}
.banner {padding: 100px 0 100px 0;}
.banner-content h2 {font-size: 35px;margin-top: 30px;}
.banner .underline-button {margin-top: 30px;}
.banner .banner-content-wrap .banner-left img {width: 100px;}
.banner-content {z-index: 3;}
/*---Banner end(Supriyo)---*/


/*---see all projects start(Supriyo)---*/
.project .all-project-1 {min-height: 370px;}
.project .all-project-2 {min-height: 410px;}
.project .section-category-3 .inner-project-1 {min-height: 185px;}
.project .section-category-3 .inner-project-2 {min-height: 185px;}
.project .section-category-3 .inner-project-3 {min-height: 185px;}
.all-project-1-content h3 a {font-size: 22px;}
.all-project-2-content h3 a {font-size: 22px;}
.inner-project-1 .inner-project-1-content h3 a {font-size: 22px;}
.inner-project-1-content {left: 50px;}
.inner-project-2 .inner-project-2-content h3 a {font-size: 22px;}
.inner-project-2-content {left: 50px;}
.inner-project-3 .inner-project-3-content h3 a {font-size: 22px;}
.inner-project-3-content {left: 15px;}
.inner-project-3-content {left: 30px;}
.project .all-project-2-content:hover {bottom: 54%;}
.all-project-2-content {bottom: 52%;left: 42px;}
.all-project-heading h4 a {padding: 0px 0 8px 0;font-size: 18px;}

/*---see all projects end(Supriyo)---*/
/*--blog-section-start-(Deep)--*/
.blog-text p::after{width: 130%;}
.blog-text p{font-size: 30px;}
.blog-content{margin-left: 60px;}
/*--blog-section-end--*/



/*---see all projects end(Supriyo)---*/


/*---see all projects end(Supriyo)---*/

/*---Contact us start(Supriyo)---*/
.contact-us {padding: 80px 0 95px;}
.contact-top-right p {font-size: 15px;}
.contact-us .custom-heading h3 {font-size: 40px;}
.contact-us .custom-heading h3 {font-size: 38px;line-height: 56px;}
.contact-form .form-control::placeholder {font-size: 15px;}
.contact-button .btn.btn-primary {font-size: 14px;}
.contact-top-right p {padding: 0 10px 0 0;}
.contact-form {margin-top: 80px;}
.contact-us .custom-heading.ms-md-0 {padding: 0px 120px 0 0px;}

/*---Contact us end(Supriyo)---*/

/* Paulami Saha 23.09.2022 Start */

/* **********************Introduction Start*************************** */
.introduction .intro-left p {font-size: 28px;line-height: 40px;margin-top: 50px;padding-right: 43px;}
.introduction .intro-right {padding-top: 62px;}
.introduction .intro-right .website li p {    margin-top: 8px;line-height: 24px; }
.introduction .intro-right .count-2 {margin-top: 25px;}
.introduction .intro-right .website li h2 {font-size: 66px;}

/* **********************Introduction End*************************** */

/* Paulami Saha 24.09.2022 End */
/*----technology-start-(Deep)-----*/
.custom-heading .main-heading{font-size: 40px;line-height: 20px;}
.technology-carousel {margin-top: 40px;}
.technology-carousel .owl-dots .owl-dot.active {background-color: var(--c-cyan-400) !important;width: 11px;height: 11px;border-radius: 10px;} 
.technology .technology-carousel .owl-dots {display: flex;justify-content: center;margin-top: 15px;}
/*----technology-end-(Deep)-----*/
/*Changes-fdev-sg*/
.introduction.custom-pad {padding: 40px 0 90px 0;}
.blog-content {margin-bottom: 80px;}
.introduction .intro-left p {padding-right: 0px !important;}
.leading-brands.custom-pad {padding: 90px 0;}
.technology.custom-pad {padding: 90px 0;}
.blog-text p::after {width: 1340px;}
.blog-section.custom-pad {padding-top: 90px;}
.introduction .intro-left p {font-size: 22px !important;}
.custom-paragraph {margin-top: 35px;}
.introduction.custom-pad .underline-button {padding-top: 40px;}
/*Changes-fdev-sg*/
.custom-inner-banner .shape-1 {width: 510px;height: 510px;top: -93%;left: -21%;border: 2px solid var(--c-primary);}
.custom-inner-banner .shape-2 {width: 510px;height: 510px;top: -82%;left: -28%;border: 2px solid var(--c-primary);}
.custom-inner-banner .shape-3 {width: 380px;height: 380px;right: -12%;bottom: -56%;}
.custom-inner-banner .shape-4 {width: 380px;height: 380px;right: -10.5%;bottom: -46%;border: 2px solid var(--c-white-900);}
.custom-inner-banner .breadcrumb-item {font-size: 18px;}
.custom-inner-banner .breadcrumb-item + .breadcrumb-item::before {font-size: 18px;}
.custom-inner-banner-content-wrap h2 {font-size: 55px;margin-top: 8px;}
.custom-inner-banner .breadcrumb-item a::after {width: 45px;}
.custom-inner-banner {padding: 150px 0px;}
}

@media (min-width: 992px) and (max-width: 1024px) {
/*---Banner start(Supriyo)---*/
.banner-right .banner-right-heading {font-size: 140px;line-height: 150px;bottom: -26px;}
.banner {padding: 100px 0 100px 0;}
.banner-content h2 {font-size: 35px;margin-top: 30px;}
.banner .underline-button {margin-top: 30px;}
.banner .banner-content-wrap .banner-left img {width: 100px;}
.banner-content {z-index: 3;}
/*---Banner end(Supriyo)---*/

/*---see all projects start(Supriyo)---*/
.project .all-project-1 {min-height: 370px;}
.project .all-project-2 {min-height: 410px;}
.project .section-category-3 .inner-project-1 {min-height: 185px;}
.project .section-category-3 .inner-project-2 {min-height: 185px;}
.project .section-category-3 .inner-project-3 {min-height: 185px;}
.all-project-1-content h3 a {font-size: 22px;}
.all-project-2-content h3 a {font-size: 22px;}
.inner-project-1 .inner-project-1-content h3 a {font-size: 22px;}
.inner-project-1-content {left: 50px;}
.inner-project-2 .inner-project-2-content h3 a {font-size: 22px;}
.inner-project-3 .inner-project-3-content h3 a {font-size: 22px;}
.inner-project-3-content {left: 15px;}
.inner-project-2-content {left: 50px;}
.project .all-project-2-content:hover {bottom: 54%;}
.all-project-2-content {bottom: 52%;left: 42px;}
.all-project-heading h4 a {padding: 0px 0 8px 0;font-size: 18px;}
.all-project-heading {padding: 70px 0;}
.blog-text p::after{width: 130%;}
.blog-text p{font-size: 30px;}
.blog-content{margin-left: 60px;}


/*---see all projects end(Supriyo)---*/


/*--blog-section-start-(Deep)--*/
.blog-text p::after{width: 130%;}
.blog-text p{font-size: 30px;line-height: 40px;}
.blog-content{margin-left: 60px; margin-bottom: 30px;}
.blog-section.custom-pad {padding-top: 60px;}
/*--blog-section-end--*/

/*---Contact us start(Supriyo)---*/
.contact-us {padding: 60px 0 75px;}
.contact-top-right p {font-size: 15px;}
.contact-us .custom-heading h3 {font-size: 40px;}
.contact-us .custom-heading h3 {font-size: 38px;line-height: 56px;}
.contact-form .form-control::placeholder {font-size: 15px;}
.contact-button .btn.btn-primary {font-size: 14px;}
.contact-top-right p {padding: 0 10px 0 0;}
.contact-form {margin-top: 70px;}
.contact-us .custom-heading.ms-md-0 {padding: 0 100px 0 0px;}


/*---Contact us end(Supriyo)---*/


/* Paulami Saha 23.09.2022 Start */

.footer-wrap {padding-top: 145px;}	

/*----technology-start-(Deep)-----*/

.custom-heading .main-heading{font-size: 40px;line-height: 20px;}
.custom-paragraph p{padding: 0 20px;}
.technology-carousel {margin-top: 40px;}


/*----technology-end-(Deep)-----*/

}

@media (min-width: 992px) and (max-width: 1024px) {
.footer-wrap {padding: 140px 0 130px;}

/* **********************Introduction Start*************************** */   
.introduction .intro-left p {font-size: 25px;line-height: 37px;margin-top: 35px;padding-right: 40px;}
.introduction .intro-right {padding-top: 52px;}
.introduction .intro-right .website li p {    margin-top: 8px;line-height: 22px; }
.introduction .intro-right .count-2 {margin-top: 25px;}
.introduction .intro-right .website li h2 {font-size: 66px;}

/* **********************Introduction End*************************** */

/* Paulami Saha 24.09.2022 End */
/*Changes-fdev-sg*/
.introduction.custom-pad {padding: 40px 0 90px 0;}
.blog-content {margin-bottom: 80px;}
.introduction .intro-left p {padding-right: 0px !important;}
.leading-brands.custom-pad {padding: 90px 0;}
.technology.custom-pad {padding: 90px 0;}
.blog-text p::after {width: 850px;}
.introduction .intro-left p {font-size: 18px !important;}
.custom-paragraph {margin-top: 35px;}
.blog-section.custom-pad {padding-top: 90px;}
.introduction.custom-pad .underline-button {padding-top: 20px;}
/*Changes-fdev-sg*/
.custom-inner-banner .shape-1 {width: 510px;height: 510px;top: -93%;left: -21%;border: 2px solid var(--c-primary);}
.custom-inner-banner .shape-2 {width: 510px;height: 510px;top: -82%;left: -28%;border: 2px solid var(--c-primary);}
.custom-inner-banner .shape-3 {width: 380px;height: 380px;right: -12%;bottom: -56%;}
.custom-inner-banner .shape-4 {width: 380px;height: 380px;right: -10.5%;bottom: -46%;border: 2px solid var(--c-white-900);}
.custom-inner-banner .breadcrumb-item {font-size: 18px;}
.custom-inner-banner .breadcrumb-item + .breadcrumb-item::before {font-size: 18px;}
.custom-inner-banner-content-wrap h2 {font-size: 55px;margin-top: 8px;}
.custom-inner-banner .breadcrumb-item a::after {width: 45px;}
.custom-inner-banner {padding: 150px 0px;}
}

@media only screen and (max-width: 991.98px) {    
.navbar-toggler { float: left;margin: 0; height: 45px; width: 45px; border-radius: 0;z-index: 9999}
.navbar-toggler .icon-bar { width: 24px; background: #fff;transition: .5s ease;}
.navbar-toggler.collapsed .icon-bar:nth-child(2){transform: rotate(0) translateY(0) translateX(0);}
.navbar-toggler.collapsed .icon-bar:nth-child(3){opacity:1}
.navbar-toggler.collapsed .icon-bar:nth-child(4){transform:rotate(0) translateY(0) translateX(0);}
/*.navbar-toggler .icon-bar:nth-child(2){transform: rotate(-45deg) translateY(5px) translateX(-5px);}*/
.navbar-toggler .icon-bar:nth-child(3){opacity: 0}
.navbar-toggler .icon-bar:nth-child(4){transform:rotate(45deg) translateY(-4px) translateX(-3px);}
.navbar-header {display: block;}

/*---Banner start(Supriyo)---*/
.banner-right .banner-right-heading {font-size: 125px;line-height: 140px;bottom: -25px;}
.banner {padding: 80px 0 80px 0;}
.banner-content h2 {font-size: 35px;margin-top: 20px;line-height: 50px;}
.banner .underline-button {margin-top: 30px;}
.banner .banner-content-wrap .banner-left img {width: 100px;}
.banner-right {z-index: -1;}
/*---Banner end(Supriyo)---*/


/* Paulami Saha 23.09.2022 Start */
.footer-wrap {padding: 120px 0 100px;} 
.footer-wrap .vertical-footer-wrap .links {margin-top: 22px;}
/* .footer-wrap .vertical-footer {text-align: center;} */
.footer-wrap .footer-5{text-align: center;}
.footer-wrap .copyright-left {text-align: center;margin-top: 15px;}
.footer-wrap .copyright-right {text-align: center;margin-top: 40px;}
.footer-wrap .copyright-right .review li h5 {margin-right: 16px;}
.footer-wrap .footer-5 .contact li p {margin-top: 22px;}
.footer-wrap .contact li {padding: 0 0 40px 0;}
.footer-wrap .footer-5 .custom-phone-heading {margin-bottom: 22px;}
.footer-wrap .footer-5 .follow-us {margin-top: 26px;}
.footer-wrap .vertical-footer .vertical-footer-wrap {padding: 0 0 40px 0;}

/* **********************Introduction Start*************************** */
.introduction .intro-left p {font-size: 22px;line-height: 30px;margin-top: 35px;padding-right: 22px;}
.introduction .intro-right {padding-top: 52px;}
.introduction .intro-right .website li h2 { font-size: 60px;}
.introduction .intro-right .count-2 {margin-top: 30px;}
.introduction .intro-right .website li p {  font-size: 17px;line-height: 24px;margin-top: 8px;}
/* **********************Introduction End*************************** */
.leading-brands .brand-image {margin-top: 60px;gap: 25px 0;}
.leading-brands .brand-image{display: none;}
.leading-brands .brand-carousal-image{display: block;}
.leading-brands .brand-carousal-image .owl-nav{text-align: center;position: absolute;font-weight: 800;top: 10%;transform: translateY(-50%);width: 100%;}
.leading-brands .brand-carousal-image .owl-nav .owl-prev{position: absolute;left: 0;font-size: 50px}
.leading-brands .brand-carousal-image .owl-nav .owl-next{position: absolute;right: 0;font-size: 50px}
.leading-brands .brand-carousal-image .owl-dots{display: flex;justify-content: center;gap: 10px;}
.leading-brands .brand-carousal-image .owl-dots .owl-dot{display: flex;width: 10px;height: 10px;border-radius: 50%;background-color: var(--c-white-800) !important;}
.leading-brands .brand-carousal-image .owl-dots .owl-dot.active{background-color: var(--c-cyan-400) !important;width: 11px;height: 11px;}
/* Paulami Saha 24.09.2022 End */





.custom-navbar-toggle .icon-bar {width: 20px;height: 1px;display: inline-block;transition: .5s ease;background-color: black;}
.banner-content h1{margin-left: 180px;}
/*.banner-content h4{margin-left: 180px;}*/


/*---see all projects start(Supriyo)---*/
.project {display: none;}
.all-project-1-content h5 {text-align: left;}
.inner-project-1-content h5 {text-align: left;}
.inner-project-2-content h5 {text-align: left;}
.inner-project-3-content h5 {text-align: left;}
.project-2 {display: block;position: relative;z-index: 3;}
.project-2 .project-heading {display: block;}
.project-2 .project-heading {position: relative; padding: 20px 0;}
.project-2 #project-carousel {position: relative;}
.project-2 #project-carousel .owl-prev {position: absolute;top: 45%;left:15px;}
.project-2 #project-carousel .owl-prev span {font-size: 50px; color:var(--c-white-900);transition: all 0.2s ease-in-out;}
.project-2 #project-carousel .owl-next {position: absolute;top: 45%; right: 15px;}
.project-2 #project-carousel .owl-next span {font-size: 50px; color:var(--c-white-900);transition: all 0.2s ease-in-out;}
.project-2 #project-carousel .owl-next span:hover {color:var(--c-primary);}
.project-2 #project-carousel .owl-prev span:hover {color:var(--c-primary);}
.project-2 .all-project-2 {background-size: cover;}
.all-project-2-content {bottom: 10%;}
.project-2 .all-project-2-content:hover {bottom: 12%;}

/*---see all projects end(Supriyo)---*/


/*--blog-section-start-(Deep)--*/
.blog-text p::after{width: 100%;}
.blog-text p{font-size: 22px;line-height: 30px;}
.blog-content{margin-left: 60px; margin-bottom: 20px;}
.blog-section.custom-pad {padding-top: 60px;}
/*--blog-section-end--*/

/*---Contact us start(Supriyo)---*/
.contact-us {padding: 60px 0 75px;}
.contact-top-right p {font-size: 19px;}
.contact-us .custom-heading h3 {font-size: 40px;}
.contact-us .custom-heading h3 {font-size: 38px;line-height: 56px;}
.contact-form .form-control::placeholder {font-size: 17px;}
.contact-button .btn.btn-primary {font-size: 14px;}
.contact-form {margin-top: 80px;}
.contact-top-right {margin-top: 20px;}
.contact-top-right p {padding: 0 0px 0 0;text-align: center;}
.contact-us .custom-heading.ms-md-0 {padding: 0 0px 0 0px;}
.contact-us .sub-heading.ms-md-0 {text-align: center !important;margin: 0 !important;}
.contact-us .main-heading.ms-md-0 {margin: 0 !important;text-align: center !important;}
/*---Contact us end(Supriyo)---*/

/*----technology-start-(Deep)-----*/
.custom-heading .main-heading{font-size: 40px;line-height: 20px;}
.custom-paragraph p{padding: 0 10px;}
.technology-carousel .item .owl-images img {width: 60px; height: 60px;}
.technology-carousel {margin-top: 20px;}
.technology-carousel .item .tech-image-title-wrap .tech-image-title {padding-top: 10px;}
.technology-carousel {margin-top: 20px;}
/*----technology-end-(Deep)-----*/
/*Changes-fdev-sg*/
.introduction.custom-pad {padding: 40px 0 90px 0;}
.blog-content {margin-bottom: 50px;}
.introduction .intro-left p {padding-right: 0px !important;}
.leading-brands.custom-pad {padding: 90px 0;}
.technology.custom-pad {padding: 90px 0;}
.introduction .intro-left p {font-size: 18px !important;}
.custom-paragraph {margin-top: 35px;}
.blog-section.custom-pad {padding-top: 90px;}
.leading-brands .brand-carousal-image .owl-carousel .owl-item img {display: inline-block;}
.blog-content {margin-left: 0px;}
.blog-button {margin-left: 0px;}
.blog-text p {width: 100%;}
.introduction.custom-pad .underline-button {padding-top: 20px;}
/*Changes-fdev-sg*/
.custom-inner-banner .shape-1 {width: 380px;height: 380px;top: -80%;left: -21%;border: 2px solid var(--c-primary);}
.custom-inner-banner .shape-2 {width: 380px;height: 380px;top: -69%;left: -28%;border: 2px solid var(--c-primary);}
.custom-inner-banner .shape-3 {width: 270px;height: 270px;right: -10%;bottom: -47%;}
.custom-inner-banner .shape-4 {width: 270px;height: 270px;right: -8.5%;bottom: -38%;border: 2px solid var(--c-white-900);}
.custom-inner-banner .breadcrumb-item {font-size: 17px;}
.custom-inner-banner .breadcrumb-item + .breadcrumb-item::before {font-size: 15px;}
.custom-inner-banner-content-wrap h2 {font-size: 50px;margin-top: 8px;}
.custom-inner-banner .breadcrumb-item a::after {width: 44px;bottom: -2px;}
.custom-inner-banner {padding: 120px 0px;}
}


@media (max-width: 767.98px){
.custom-button {width: 150px;height: 51px;}
/*Banner start(Supriyo)*/
.banner-right .banner-right-heading {font-size: 105px;line-height: 90px;bottom: -8px;}
.banner-content h4 {font-size: 17px;}
.banner .underline-button {margin-top: 25px;}
.banner-content h2 {font-size: 32px;margin-top: 20px;line-height: 45px;}
.banner-content {width: 80%;}
/*Banner end(Supriyo)*/

/* Paulami Saha 23.09.2022 Start */
.footer-wrap {padding: 90px 0 80px;} 
.footer-wrap .copyright-left {margin-top: 20px;}
.footer-wrap .copyright-right {margin-top: 35px;}
.footer-wrap .copyright-right .review li h5 {margin-right: 12px;}
.footer-wrap .copyright-right .review li {padding: 0 0 0 2px;}
.footer-wrap .footer-5 .custom-phone-heading {margin-bottom: 18px;}
.footer-wrap .contact li {padding: 0 0 36px 0;}
.footer-wrap .footer-5 .contact li p {font-size: 18px;}
.footer-wrap .footer-5 .follow-us {margin-top: 24px;}
.footer-wrap .vertical-footer-wrap .links {margin-top: 16px;}
.footer-wrap .vertical-footer-wrap .links li {padding: 0 0 8px 0;}
.footer-wrap .vertical-footer-wrap .links a {font-size: 18px;}
.footer-wrap .footer-5 ul li a {font-size: 18px;}
/* **********************Introduction Start*************************** */
.introduction {text-align: center;}
.introduction .intro-left p {font-size: 17px;line-height: 24px;margin-top: 25px;padding-right: 0px;}
.introduction .intro-right {display: flex;align-items: center;gap: 70px; padding-top: 48px;}
.introduction .intro-right .website li p {line-height: 21px;margin-top: 10px;}
.introduction .intro-right .count-2 { margin-top: 0;}
.introduction .intro-right .website li{display: inline-block;}
/* **********************Introduction End*************************** */
.leading-brands .brand-image {margin-top: 50px;}
.leading-brands .brand-carousal-image .owl-dots .owl-dot {width: 8px;height: 8px;}
.leading-brands .brand-carousal-image .owl-dots {gap: 5px;}
.leading-brands .brand-carousal-image .owl-dots .owl-dot.active{width: 9px;height: 9px;}
/* Paulami Saha 24.09.2022 End */
/*--blog-section-start-(Deep)--*/
.blog-text p{font-size: 20px; line-height: 24px;}
.blog-content{margin-left: 0px; margin-bottom: 15px;}
.blog-section.custom-pad {padding-top: 60px;}
/*--blog-section-end--*/

/*---Contact us start(Supriyo)---*/
.contact-us .custom-heading h3 {margin-top: 20px;line-height: 50px;}
.inner-project-3 .inner-project-3-content h3 a {font-size: 23px;}
.inner-project-2 .inner-project-2-content h3 a {font-size: 23px;}
.inner-project-1 .inner-project-1-content h3 a {font-size: 23px;}
.all-project-1-content h3 a {font-size: 23px;}
.all-project-2-content h3 a {font-size: 23px;}
.contact-top-right p {font-size: 15px;line-height: 26px;}
.contact-form .form-control::placeholder {font-size: 15px;}
.contact-form .form-control {margin: 0 0 50px 0;}
.contact-button .btn.btn-primary {width: 100%;}
.contact-form {margin-top: 60px;}
.contact-form .form-control {padding: 0 0 10px 0;}
.contact-form .row {flex-direction: column;}
.inner-project-3-content {left: 50px;}
.contact-button .custom-button {width: 100%;}
/*---Contact us end(Supriyo)---*/

/*----technology-start-(Deep)-----*/
.custom-heading .main-heading {font-size: 30px;line-height: 10px;}
.custom-paragraph p{padding: 0 0px;line-height: 20px;}
.technology-content .custom-paragraph{margin-top: 30px;}
/*----technology-end-(Deep)-----*/

/*Changes-fdev-sg*/
.leading-brands.custom-pad {padding: 70px 0;}
.technology.custom-pad {padding: 70px 0;}
.introduction.custom-pad {padding: 40px 0 70px 0;}
.intro-left .custom-heading {text-align: center;}
.services-button-wrap.ms-md-0 {justify-content: center;}
.services-content-left.d-flex.flex-column .custom-heading.ms-md-0 {text-align: center;}
.introduction.custom-pad .underline-button {justify-content: center;}
/*Changes-fdev-sg*/
.custom-inner-banner .shape-1 {width: 310px;height: 310px;top: -70%;left: -28%;}
.custom-inner-banner .shape-2 {width: 310px;height: 310px;top: -59%;left: -34%;}
.custom-inner-banner .shape-3 {width: 220px;height: 220px;right: -11%;bottom: -40%;}
.custom-inner-banner .shape-4 {width: 220px;height: 220px;right: -9.5%;bottom: -33%;}
.custom-inner-banner-content-wrap h2 {font-size: 45px;margin-top: 6px;}
.custom-inner-banner .breadcrumb-item {font-size: 16px;}
.custom-inner-banner .breadcrumb-item a::after {width: 40px;}
}

@media (max-width: 575.98px){
/*Banner start(Supriyo)*/
.banner-content {text-align: center;}
.banner-content h4 {font-size: 14px;}
.banner-right .banner-right-heading {font-size: 70px;line-height: 75px;bottom: -12px;}
.banner-content h2 {font-size: 28px;margin-top: 15px;line-height: 40px;}
.banner-content {width: 100%;}
.banner .underline-button {justify-content: center;}
/*Banner start(Supriyo)*/


/* Paulami Saha 23.09.2022 Start */
.footer-wrap .vertical-footer {text-align: center;}
.footer-wrap .vertical-footer-wrap .links li {padding: 0 0 5px 0;}
.footer-wrap .vertical-footer-wrap .links {margin-top: 12px;}
.footer-wrap .vertical-footer-wrap .links li a {font-weight: 410;font-size: 16px;}
.footer-wrap .footer-5 .contact li p {font-weight: 410;margin-top: 14px;line-height: 25px;font-size: 16px;}
.footer-wrap .footer-5 .custom-phone-heading {margin-bottom: 12px;}
.footer-wrap .footer-5 ul li a {font-weight: 410;font-size: 16px;}
.footer-wrap .copyright-right .review li h5 {margin-right: 5px;}
.footer-wrap .copyright-right .review li {padding:0;}
.footer-wrap .footer-5 .contact li .follow-us li {padding: 0 2px 0px 0;}
.footer-wrap .footer-5 .follow-us {margin-top: 20px;}
.footer-wrap {padding-bottom: 65px;}
.footer-wrap .copyright-right {margin-top: 30px;}
.footer-wrap .copyright-left {margin-top: 18px;}
.footer-wrap .contact li {padding: 0 0 27px 0;}
.footer-wrap .copyright-left p {line-height: 16px;}
/* **********************Introduction Start*************************** */
.introduction .intro-right .website li h2 {font-size: 60px;}
.introduction .intro-right .website li p {font-size: 15px;line-height: 19px;margin-top: 5px;}
.introduction .intro-left p {font-size: 16px;line-height: 22px;margin-top: 15px;padding: 0 0px;}
.introduction .intro-right {gap: 50px;  padding-top: 40px;}
.introduction .intro-right .website li h2 {font-size: 50px;}
/* **********************Introduction End*************************** */
.leading-brands .brand-image {margin-top: 30px;}
.leading-brands .brand-carousal-image .owl-nav {top: 25%;}
.leading-brands .brand-carousal-image .owl-nav .owl-prev{font-size: 30px;}
.leading-brands .brand-carousal-image .owl-nav .owl-next{font-size: 30px;}
.leading-brands .brand-carousal-image .owl-dots .owl-dot {width: 6px;height: 6px;}
.leading-brands .brand-carousal-image .owl-dots {gap: 3px;}
.leading-brands .brand-carousal-image .owl-dots .owl-dot.active{width: 7px;height: 7px;}

/* Paulami Saha 24.09.2022 End */


.custom-button{width: 130px;height: 50px;line-height: 50px;}
/* .custom-navbar-brand img {width: 80%;} */

/*---see all projects start(Supriyo)---*/
.inner-project-3-content {left: 40px;}

/*---see all projects end(Supriyo)---*/
.navbar-brand.custom-navbar-brand.ms-0 {width: 40%;}

/*---see all projects start(Supriyo)---*/
.contact-button .custom-button {width: 100%;}
.inner-project-3-content {left: 70px;}
.project-2 .section-category-3 .d-flex {display: block !important;}
.project-2 .section-category-3 .inner-project-1 {min-height: 250px;}
.project-2 .section-category-3 .inner-project-2 {min-height: 185px;}
.project-2 .section-category-3 .inner-project-3 {min-height: 185px;}

/*---see all projects end(Supriyo)---*/

/*---Contact us start(Supriyo)---*/
.contact-us {padding: 40px 0 55px;}
.contact-us .custom-heading h3 {margin-top: 18px;line-height: 45px;font-size: 34px;}
.contact-top-right p {line-height: 26px;}
.contact-form {margin-top: 60px;}
/*---Contact us start(Supriyo)---*/ 
/*----------technology-start-(Deep)---------*/
/*----------technology-end-(Deep)---------*/

/*Changes-fdev-sg*/
.leading-brands.custom-pad {padding: 50px 0;}
.technology.custom-pad {padding: 50px 0;}
.introduction.custom-pad {padding: 30px 0 50px 0;}
/*Changes-fdev-sg*/
.custom-inner-banner {padding: 100px 0px;}
.custom-inner-banner .shape-1 {width: 260px;height: 260px;top: -65%;left: -26%;}
.custom-inner-banner .shape-2 {width: 270px;height: 270px;top: -59%;left: -34%;}
.custom-inner-banner .shape-3 {width: 170px;height: 170px;right: -12%;bottom: -34%;}
.custom-inner-banner .shape-4 {width: 170px;height: 170px;right: -9.5%;bottom: -28%;}
.custom-inner-banner-content-wrap h2 {font-size: 40px;}
}

/*@media (max-width: 575.98px){

}*/

@media only screen and (max-width: 480.98px) {	
/*Banner start(Supriyo)*/

.banner-right {right: 20px;}
.banner {padding: 50px 0 80px 0;}
.banner-right .banner-right-heading {font-size: 50px;line-height: 60px;bottom: -12px;}
.banner-right {right: 0;}

/*Banner start(Supriyo)*/
.navbar-brand.custom-navbar-brand.ms-0 {width: 50%;}
/*---see all projects start(Supriyo)---*/
.project-2 .all-project-1 {min-height: 450px;}
.project-2 .all-project-2 {min-height: 450px;}
.project-2 .section-category-3 .inner-project-1 {min-height: 250px;}
.project-2 .section-category-3 .inner-project-2 {min-height: 100px;}
.project-2 .section-category-3 .inner-project-3 {min-height: 100px;}
.project-2 #project-carousel .owl-prev {top: 40%;}
.project-2 #project-carousel .owl-next {top: 40%;}
.project-2 .all-project-1-content {left: 40px;}
.all-project-2-content {left: 40px;}
.inner-project-3-content {left: 40px;}
.inner-project-2-content {left: 40px;}
.inner-project-1-content {left: 40px;}

/*---see all projects end(Supriyo)---*/


/*--blog-section-start-(Deep)--*/

.blog-content{margin-left: 0px; margin-bottom: 8px;}
.blog-section.custom-pad {padding-top: 40px;}
.blog-text p {font-size: 16px; line-height: 25px;}
.blog-text p::after{bottom: 10px;}
/*--blog-section-end--*/

/*---Contact us start(Supriyo)---*/
.contact-button .custom-button {display: block;}
.contact-button {text-align: center;}
.contact-us {padding: 30px 0 45px;}
.contact-form .form-control::placeholder {font-size: 13px;}
.contact-form .form-control {margin: 0 0 40px 0;}
.contact-top-right p {line-height: 22px;}
.contact-us .custom-heading h5 {font-size: 14px;}
.contact-us .custom-heading h3 {line-height: 37px;font-size: 28px;margin-top: 8px;}
.contact-top-right {margin-top: 20px;}
.contact-form {margin-top: 40px;}


/*---Contact us end(Supriyo)---*/

/*----technology-start-(Deep)-----*/
.custom-heading .main-heading {font-size: 20px; line-height: 2px;}
.custom-paragraph p{line-height: 18px;font-size: 16px;}
#technology-carousel .owl-nav{font-size: 20px;margin-top: 0px;}
.technology-carousel {margin-top: 20px;}
.technology-carousel .item .owl-images img {width: 65px; height: 65px;}
/*----technology-end-(Deep)-----*/
.custom-inner-banner .shape-1 {width: 230px;height: 230px;top: -61%;left: -26%;}
.custom-inner-banner .shape-2 {width: 230px;height: 230px;top: -52%;left: -34%;}
}
@media only screen and (max-width: 374.98px) {	
.custom-inner-banner .shape-1 {width: 230px;height: 230px;top: -61%;left: -35%;}
.custom-inner-banner .shape-2 {width: 230px;height: 230px;top: -52%;left: -45%;}
.custom-inner-banner .shape-3 {width: 130px;height: 130px;right: -12%;bottom: -27%;}
.custom-inner-banner .shape-4 {width: 130px;height: 130px;right: -9.5%;bottom: -23%;}
.custom-inner-banner-content-wrap h2 {font-size: 32px;margin-top: 3px;}
.custom-inner-banner .breadcrumb-item {font-size: 13px;}
.custom-inner-banner .breadcrumb-item a::after {width: 32px;}
}