/*---Service-Start---*/
:root {
  --c-cyan-500: #39bbb0;
}

.custom-heading {
  display: flex;
  flex-direction: column;
  gap: 25px 0;
}
.custom-heading .sub-heading {
  color: var(--c-black-700);
  font-size: 18px;
  font-weight: 400;
  line-height: 33px;
}
.custom-heading .main-heading {
  color: var(--c-black-800);
  font-family: var(--ff-secondary);
  font-size: 45px;
  font-weight: 400;
  line-height: 66px;
}
.c-white-900 {
  color: var(--c-white-900)!important ;
}

/* alt button */
.custom-button-alt {
  color: var(--c-black-900);
  font-size: 14px;
  font-family: var(--ff-primary);
  padding-bottom: 5px;
  position: relative;
  display: inline-flex;
  align-items: center;
  gap: 0 10px;
}
.custom-button-alt span {
  display: inherit;
}
.custom-button-alt:nth-child(2) {
  margin: 0 !important;
}
.underline-button {
  display: flex !important;
  gap: 0 39px;
  align-items: center;
  margin: 0 !important;
}
.banner .underline-button {
  margin-top: 50px !important;
}
/* alt button */

.services-section .services-content-left {
  background-color: var(--c-black-800);
  gap: 35px 0;
  padding-left: 4rem;
  padding-right: 4rem;
  height: 100%;
  justify-content: center;
}
.services-section .services-content-left .services-content-left-text p {
  color: var(--c-cyan-100);
  font-family: var(--ff-secondary);
  font-size: 27px;
  font-weight: 400;
  line-height: 48px;
}
.accordion__container {
  /* border: 1px solid blue; */
}
.accordion__container::after {
  content: ' ';
  display: table;
  clear: both;
}
.accordion__item-wrapper {
  /* margin-left: -1px;
  margin-right: -1px; */
  overflow: hidden;
}
.accordion__item {
  height: 800px;
  width: 20%;
  float: left;
  background-color: var(--c-cyan-100);
  border-right: 1px solid #c0e7ed;
  border-left: 1px solid #c0e7ed;
  box-sizing: border-box;
  transition: all 500ms ease;
  display: flex;
  justify-content: center;
}
.accordion__item.state-collapsed {
  width: 50px;
}
.accordion__item.state-active {
  width: calc(100% - 200px);
}
.accordion__item .service-acc-title {
  font-family: var(--ff-secondary);
  font-size: 45px;
  line-height: 42px;
  writing-mode: sideways-rl;
  transition: all 0.5s ease-in-out;
  text-transform: capitalize;
}
.accordion__item .service-acc-title-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 100px 0 70px;
}
.accordion__item.js-accordion__item.state-collapsed .service-acc-title {
  font-size: 38px;
  line-height: 50px;
}
.accordion__item .service-acc-content, .accordion__item.state-collapsed .service-acc-content{
  align-self: center;
  display: none;
  opacity: 0;
  transition: all 0.6s ease-in-out;
}
.accordion__item.js-accordion__item.state-active .service-acc-content {
  display: block;
  opacity: 1;
  padding: 35px 75px 35px;
  transition: all 0.6s ease-in-out;
}
.accordion__item .service-acc-content .service-text {
  color: var(--c-black-800);
  font-family: var(--ff-secondary);
  font-size: 27px;
  font-weight: 400;
  line-height: 48px;
  /* padding: 35px 75px 35px; */
  padding-bottom: 25px;
}
.accordion__item .service-acc-title-wrap .plus-icon {
  width: 42px;
  height: 42px;
  margin: 0;
  display: inline-block;
  position: relative;
  transition: all 0.5s ease-in-out;
}
.accordion__item .service-acc-title-wrap .plus-icon > * {
  width: inherit;
  height: 2px;
  display: inline-block;
  background-color: var(--c-cyan-500);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  transition: all 0.4s ease-in-out;
}
.accordion__item.state-collapsed .plus-icon {
  width: 30px;
  height: 30px;
  margin: 0 auto;
  transition: all 0.4s ease-in-out;
}
.accordion__item.state-active .plus-icon {
  margin: 0 25px;
}
.accordion__item.state-active .plus-icon .bar-y {
  transform: translate(-50%, -50%) rotate(0deg) !important;
  transition: all 0.4s ease-in-out;
}
.accordion__item.state-active .plus-icon .bar-x {
  display: none;
  transition: all 0.4s ease-in-out;
}
.service-title-wrap .icon > * {
  width: 42px;
  height: 2px;
  display: inline-block;
  background-color: var(--c-cyan-500);
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0 auto;
  transform: translate(-50%, -50%);
}
.bar-y {
  transform: translate(-50%, -50%) rotate(90deg) !important;
}
/*---Service-End---*/





@media (max-width: 1400px) and (min-width: 1300px) {
  /* Service responsive */
  .services-section .services-content-left {gap: 25px 0;padding-left: 3rem;padding-right: 3rem;}
  .services-section .services-content-left .services-content-left-text p {font-size: 24px;line-height: 40px;}
  .accordion__item .service-acc-content .service-text {font-size: 24px;line-height: 40px;padding: 10px 22px 10px;}
  .accordion__item .service-acc-title {font-size: 36px;}
  .accordion__item.js-accordion__item.state-collapsed .service-acc-title {font-size: 32px;}
  .accordion__item {height: 680px;}
  .accordion__item .service-acc-title-wrap {padding: 60px 0 40px;}
  .accordion__item .service-acc-title-wrap .plus-icon {width: 34px;height: 34px;}
  /* Service responsive */
}
@media (max-width: 1300px) and (min-width: 1200px) {
  /* Service responsive */
  .services-section .services-content-left {gap: 20px 0;padding-left: 2rem;padding-right: 2rem;}
  .services-section .services-content-left .services-content-left-text p {font-size: 22px;line-height: 36px;}
  .accordion__item .service-acc-content .service-text {font-size: 21px;line-height: 32px;padding: 10px 12px 10px;}
  .accordion__item .service-acc-title {font-size: 33px;}
  .accordion__item.js-accordion__item.state-collapsed .service-acc-title {font-size: 30px;}
  .accordion__item {height: 640px;}
  .accordion__item .service-acc-title-wrap {padding: 40px 0 25px;}
  .accordion__item .service-acc-title-wrap .plus-icon {width: 30px;height: 30px;}
  /* Service responsive */
}
@media (max-width: 1200px) and (min-width: 992px) {
  /* Service responsive */
  .services-section .services-content-left {gap: 20px 0;padding-left: 2rem;padding-right: 2rem;}
  .services-section .services-content-left .services-content-left-text p {font-size: 19px;line-height: 32px;}
  .accordion__item .service-acc-content .service-text {font-size: 18px;line-height: 28px;padding: 10px 12px 10px 0;}
  .accordion__item .service-acc-title {font-size: 30px;}
  .accordion__item.js-accordion__item.state-collapsed .service-acc-title {font-size: 26px;}
  .accordion__item {height: 610px;}
  .accordion__item .service-acc-title-wrap {padding: 40px 0 25px;}
  .accordion__item .service-acc-title-wrap .plus-icon {width: 28px;height: 28px;}
  /* Service responsive */
}
@media (max-width: 991.98px){
  /* Service responsive */
.accordion__item {height: 600px;}
.accordion__item .service-acc-title-wrap {padding: 70px 0 40px;}
.accordion__item .service-acc-content .service-text {font-size: 22px;line-height: 36px;padding: 0 15px;}
.accordion__item .service-acc-title {font-size: 32px;line-height: 30px;}
.accordion__item.js-accordion__item.state-collapsed .service-acc-title {font-size: 28px;line-height: 30px;}
.accordion__item .service-acc-title-wrap .plus-icon {width: 32px;height: 32px;}
.services-section .services-content-left {padding: 4rem 2rem;}
.services-section .services-content-left .services-content-left-text p {font-size: 22px;line-height: 34px;}
/* Service responsive */
}
@media (max-width: 767.98px){
  /* Service responsive */
.accordion__item {height: 500px;}
.accordion__item .service-acc-title-wrap {padding: 50px 0 30px;}
.accordion__item .service-acc-content .service-text {font-size: 18px;line-height: 28px;}
.accordion__item .service-acc-title {font-size: 28px;}
.accordion__item.js-accordion__item.state-collapsed .service-acc-title {font-size: 24px;}
.accordion__item .service-acc-title-wrap .plus-icon {width: 28px;height: 28px;}
.services-section .services-content-left .services-content-left-text p {font-size: 18px;line-height: 28px;text-align: center;}
.services-section .services-content-left {padding: 3rem 1.5rem;gap: 20px 0;}
/* Service responsive */
}
@media (max-width: 576px){
  /* Service responsive */
.accordion__item {width: 100%;float: unset;border: none;border-bottom: 1px solid #c0e7ed;flex-direction: column;height: 50px;justify-content: center;}
.accordion__item.state-active {width: 100%;height: calc(100% - 200px);}
.accordion__item.state-collapsed {width: 100%;height: 50px;}
.accordion__item .service-acc-title-wrap {flex-direction: row;margin: 0;padding: 0 20px 0 15px;align-items: center;}
.accordion__item .service-acc-title {writing-mode: unset;margin: 0;font-size: 22px;}
.accordion__item .service-acc-title-wrap .plus-icon {margin: 0;}
.accordion__item.js-accordion__item.state-collapsed .service-acc-title {font-size: 20px;}
.accordion__item .service-acc-content .service-text {font-size: 16px;line-height: 26px;padding: 15px 20px 20px;}
.accordion__item.state-active .service-acc-title-wrap {padding: 15px 20px 0;}
.accordion__item .service-acc-title-wrap .plus-icon {width: 20px;height: 20px;}
.services-section .services-content-left .services-content-left-text p {font-size: 16px;line-height: 26px;}
.services-section .services-content-left {padding: 2rem 1rem;}
/* Service responsive */
}