/******** Google Fonts ********/
@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/******** Color Schemes ********/


:root {
  --c-primary: rgb(0, 166, 149);

  --c-cyan-400: #bde8f6; /* codearts stroke color */
  --c-cyan-200: #e0f9fd; /* err */
  --c-cyan-100: #e5f8fc; /* dark bg content text color, light cyan bg color */

  --c-black-900: #000000;
  --c-black-800: #0c171f; /* black heading, body text color */
  --c-black-700: #292929; /* black sub heading text color */
  --c-black-600: #5f5f5f; /*Contact form text*/
  --c-white-900: #ffffff;
  --c-white-800: #f9fcfd; /* codearts stroke fill color */

  --c-gray-900: #5f5f5f; /*Contact form text*/
  --c-gray-800: #99a2a4; /*Conatct us text*/
  

  --ff-primary: 'Cutive Mono', monospace;
  --ff-secondary: 'Work Sans', sans-serif;
  --ff-tertiary: 'Roboto Mono', monospace;

  /* 0c171f */
}

/******** CSS Resets ********/
* {
  padding: 0;
  margin: 0 auto;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a:focus, a:hover {
  outline: none;
}

a {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

p {
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: var(--c-black-text);
  line-height: 18px;
  font-weight: 400;
}

body {
  font-family: var(--ff-primary);
  font-size: 14px;
  color: var(--c-black-text);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--ff-primary);
  margin-bottom: 0;
}

/******** Utility Classes ********/

.container {
  width: 100%;
  max-width: 1440px;
}


.custom-pad {
  padding: 60px 0;
}


/*=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+toggle-nav-css-start=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+*/

.custom-header .custom-navbar .custom-navbar-right .custom-offcanvas {
  background-color: var(--c-primary);
  width: 100%;
}

.custom-button {
  background-color: var(--c-primary);
  color: var(--c-white-900);
  display: inline-block;
  width: 170px;
  height: 71px;
  border-radius: 3px;
  font-size: 15px;
  text-align: center;
  line-height: 70px;
  text-transform: capitalize;
  border:1px solid var(--c-primary);
  padding: 0 0;
  margin-right: 42px;
}
.custom-button:hover {
  color: var(--c-black-900);
  background-color: transparent;
  border:1px solid var(--c-primary);
}

.custom-navbar-toggle {
  display: flex;
  flex-direction: column;
  gap: 10px 0;
  padding: 15px;
}
.custom-navbar-toggle .icon-bar{
  width: 30px;
  height: 1px;
  display: inline-block;
  transition: .5s ease;
  background-color: black;
}

.custom-navbar-right {
  gap: 0 10px;
}
/*=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+toggle-nav-css-end=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+*/

/*---Banner-start---*/

.banner {
  width: 100%;
  text-align: center;
  padding: 130px 0 130px 0;
  position: relative;
}

.patch-img {
  position: absolute;
  top: 20%;
  left: 0;
}
.banner-content {
  text-align: left;
  width: 70%;
  margin-left: 0;
}
.banner-content h4 {
  font-size: 19px;
  font-family: var(--ff-primary);
  color:var(--c-primary-text);
}
.banner-content h2 {
  font-size: 45px;
  font-family: var(--ff-secondary);
  color:#0c171f;
  line-height: 60px;
  margin-top:50px;
}
.underline-button .btn.btn-primary {
  background-color: transparent;
  border-color: transparent;
  color: var(--c-primary-text);
  border-radius: 0;
  font-family: var(--ff-primary);
  font-size: 14px;
  margin: 0 20px 0 0;
  display: inline-block;
  margin-top: 75px;
  transition: all 0.3s ease-in-out;
  position: relative;
  transition: all 0.3s ease-in-out;
  padding: 20px 0 10px;
  border-bottom: 2px solid var(--c-white-900);
}
.underline-button .btn.btn-primary:hover {
  transition: all 0.2s ease-in-out;
  color: #00a695;
  border-bottom: 2px solid #00a695;
}
.underline-button .btn.btn-primary span {
  margin-left: 10px;
}
.banner .code-img{
  width: 100%;
}
.code-img img {
  transform: translateY(11px);
}
.banner-right .banner-right-heading {
  font-size: 275px;
  font-family: var(--ff-secondary);
  line-height: 240px;
  font-weight: 900;
  color: transparent;
  display: inline-block;
  -webkit-text-stroke: 2px #e0f9f3;
  text-transform: uppercase;
  z-index: 2;
  position: relative;
  width: min-content;
  margin-right: 20px;
  bottom: -26px;
}

.banner-right .banner-right-heading::before {
  content: "code arts";
  -webkit-text-stroke: transparent;
  color: var(--c-white-800);
  position: absolute;
  z-index: -1;
  left: 10px;
  top: 10px;
}

.banner .banner-content-wrap {
  display: inline-flex;
}
.banner .banner-content-wrap .banner-left img {
  position: absolute;
  left: 0;
}

.underline-button {
  display: inline-block;

  margin-top: 50px;
  margin-left: 0px;
}

.custom-button-alt {
  color: var(--c-black-900);
  font-size: 14px;
  font-family: var(--ff-primary);
  padding-bottom: 5px;
  position: relative;
  display: inline-block;
}
.custom-button-alt::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  background-color: var(--c-black-900);
  bottom: 0;
  transition: all 0.3s ease-in-out;
}
.custom-button-alt.cb-white {
  color: var(--c-white-900);
}
.custom-button-alt.cb-white::after {
  background-color: var(--c-white-900);
}
.custom-button-alt:hover{
  color: var(--c-primary);
}
.custom-button-alt:hover::after {
  background-color: var(--c-primary);
}
.banner-left {
  position: absolute;
  left: 0;
  z-index: -1;
}
.banner-right {
  position: absolute;
  right: 0;
  bottom: 0;
}


.custom-button-alt:nth-child(2) {
  margin: 0 0 0 30px;
}
/*---Banner-End---*/


/*---project-Start---*/

.project .all-project-1 {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 620px;
  position: relative;
  z-index: 9;
}
.project .all-project-1::after {
  position: absolute;
  content: '';
  background-color: rgba(0,0,0,0.4);
  width: 100%;
  height: 100%;
  z-index: -1;
}
.project .all-project-1-content {
  position: absolute;
  color: var(--c-white-900);
  bottom: 57px;
  left: 71px;
  transition: all 0.3s ease-in-out;
}
.project .all-project-1-content:hover h5 a {
  color: var(--c-cyan-400);
}
.project .all-project-1-content:hover {
  bottom: 70px;
}
.project .all-project-2 {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  min-height: 620px;
  position: relative;
  z-index: 9;
  background-position: right 0px bottom 100%;
}
.project .all-project-2::after {
  position: absolute;
  content: '';
  background-color: rgba(0,0,0,0.4);
  width: 100%;
  height: 100%;
  z-index: -1;
}
.all-project-2-content {
  position: absolute;
  color: var(--c-white-900);
  bottom: 38%;
  left: 71px;
  transition: all 0.3s ease-in-out;
}
.project .all-project-2-content:hover h5 a {
  color: var(--c-cyan-400);
}
.project .all-project-2-content:hover {
  bottom: 40%;
}
.all-project-heading {
  position: absolute;
  background-color: var(--c-white-900);
  width: 100%;
  text-align: center;
  padding: 67px 0;
  bottom: 0;
}
.all-project-heading h4 a {
  border-bottom: 2px solid var(--c-black-900);
  display: inline-block;
  padding: 0px 0 10px 0;
  font-size: 20px;
  color: var(--c-black-700);
  transition: all 0.2s ease-in-out;
}
.all-project-heading h4 a:hover {
  color:var(--c-primary);
  border-bottom: 2px solid var(--c-primary);
}
.project .section-category-3 .inner-project-1 {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 310px;
  position: relative;
  z-index: 9;
}
.project .section-category-3 .inner-project-1::after {
  position: absolute;
  content: '';
  background-color: rgba(0,0,0,0.4);
  width: 100%;
  height: 100%;
  z-index: -1;
}
.inner-project-1-content {
  position: absolute;
  color: var(--c-white-900);
  bottom:20%;
  left: 71px;
  transition: all 0.3s ease-in-out;
}
.inner-project-1-content:hover {
  bottom: 24%;
}
.project .inner-project-1-content:hover h5 a {
  color: var(--c-cyan-400);
}
.project .section-category-3 .inner-project-2 {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 310px;
  position: relative;
  z-index: 9;
}
.project .section-category-3 .inner-project-2::after {
  position: absolute;
  content: '';
  background-color: rgba(0,0,0,0.4);
  width: 100%;
  height: 100%;
  z-index: -1;
}
.inner-project-2-content {
  position: absolute;
  color: var(--c-white-900);
  bottom:20%;
  left: 71px;
  transition: all 0.3s ease-in-out;
}
.inner-project-2-content:hover {
  bottom: 24%;
}
.project .inner-project-2-content:hover h5 a {
  color: var(--c-cyan-400);
}
.project .section-category-3 .inner-project-3 {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 310px;
  position: relative;
  z-index: 9;
}
.project .section-category-3 .inner-project-3::after {
  position: absolute;
  content: '';
  background-color: rgba(0,0,0,0.4);
  width: 100%;
  height: 100%;
  z-index: -1;
}
.inner-project-3-content {
  position: absolute;
  color: var(--c-white-900);
  bottom:20%;
  left: 71px;
  transition: all 0.3s ease-in-out;
}
.inner-project-3-content:hover {
  bottom: 24%;
}
.project .inner-project-3-content:hover h5 a {
  color: var(--c-cyan-400);
}
.all-project-1-content h5 a {
  font-size: 14px;
  color: var(--c-white-900);
}

.all-project-1-content h3 a {
  font-size: 30px;
}
/*.banner-content h4 {
  font-size: 19px;
>>>>>>> 70305128b2a3bc0e174b70eec3edc19b5e152cf6
  font-family: var(--ff-secondary);
  color: var(--c-white-900);
  font-weight: 400;
  margin-top: 10px;

}
.all-project-2-content h5 a {
=======
}*/
.box-2-content h5 {
  font-size: 14px;
  color: var(--c-white-900);
}
.all-project-2-content h3 a {
  font-size: 30px;
  font-family: var(--ff-secondary);
  color: var(--c-white-900);
  font-weight: 400;
  margin-top: 10px;
}
.inner-project-1 .inner-project-1-content h5 a {
  font-size: 14px;
  color: var(--c-white-900);
}
.inner-project-1 .inner-project-1-content h3 a {
  font-size: 30px;
  font-family: var(--ff-secondary);
  color: var(--c-white-900);
  font-weight: 400;
  margin-top: 10px;
}
.inner-project-2 .inner-project-2-content h5 a {
  font-size: 14px;
  color: var(--c-white-900);
}
.inner-project-2 .inner-project-2-content h3 a {
  font-size: 30px;
  font-family: var(--ff-secondary);
  color: var(--c-white-900);
  font-weight: 400;
  margin-top: 10px;
}
.inner-project-3 .inner-project-3-content h5 a {
  font-size: 14px;
  color: var(--c-white-900);
}
.inner-project-3 .inner-project-3-content h3 a {
  font-size: 30px;
  font-family: var(--ff-secondary);
  color: var(--c-white-900);
  font-weight: 400;
  margin-top: 10px;
}


/*---project-End---*/

/*---project-2 carousel Start for 991px to 320px---*/
.project-2 .all-project-1 {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 620px;
  position: relative;
  z-index: 9;
}
.project-2 .all-project-1::after {
  position: absolute;
  content: '';
  background-color: rgba(0,0,0,0.4);
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 0;
  left: 0;
}
.project-2 .all-project-1-content {
  position: absolute;
  color: var(--c-white-900);
  bottom: 50px;
  left: 71px;
  transition: all 0.3s ease-in-out;
}
.project-2 .all-project-1-content:hover h5 a {
  color: var(--c-cyan-400);
}
.project-2 .all-project-1-content:hover {
  bottom: 60px;
}
.project-2 .all-project-2 {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  min-height: 620px;
  position: relative;
  z-index: 9;
  background-position: right 0px bottom 100%;
}
.project-2 .all-project-2::after {
  position: absolute;
  content: '';
  background-color: rgba(0,0,0,0.4);
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 0;
  left: 0;
}
.all-project-2-content h5 {
  text-align: left;
}
.all-project-2-content {
  position: absolute;
  color: var(--c-white-900);
  bottom: 38%;
  left: 71px;
  transition: all 0.3s ease-in-out;
}
.project-2 .all-project-2-content:hover h5 a {
  color: var(--c-cyan-400);
}
.project-2 .all-project-2-content:hover {
  bottom: 40%;
}
.project-heading {
  position: absolute;
  background-color: var(--c-white-900);
  width: 100%;
  text-align: center;
  padding: 67px 0;
  bottom: 0;
}
.project-heading h4 a {
  border-bottom: 2px solid var(--c-black-900);
  display: inline-block;
  padding: 0px 0 10px 0;
  font-size: 20px;
  color: var(--c-black-700);
  transition: all 0.2s ease-in-out;
}
.project-heading h4 a:hover {
  color:var(--c-primary);
  border-bottom: 2px solid var(--c-primary);
}
.project-2 .section-category-3 .inner-project-1 {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 310px;
  position: relative;
  z-index: 9;
}
.project-2 .section-category-3 .inner-project-1::after {
  position: absolute;
  content: '';
  background-color: rgba(0,0,0,0.4);
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 0;
  left: 0;
}
.inner-project-1-content {
  position: absolute;
  color: var(--c-white-900);
  bottom:20%;
  left: 71px;
  transition: all 0.3s ease-in-out;
}
.inner-project-1-content:hover {
  bottom: 24%;
}
.project-2 .inner-project-1-content:hover h5 a {
  color: var(--c-cyan-400);
}
.project-2 .section-category-3 .inner-project-2 {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 310px;
  position: relative;
  z-index: 9;
}
.project-2 .section-category-3 .inner-project-2::after {
  position: absolute;
  content: '';
  background-color: rgba(0,0,0,0.4);
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 0;
  left: 0;
}
.inner-project-2-content {
  position: absolute;
  color: var(--c-white-900);
  bottom:20%;
  left: 71px;
  transition: all 0.3s ease-in-out;
}
.inner-project-2-content:hover {
  bottom: 24%;
}
.project-2 .inner-project-2-content:hover h5 a {
  color: var(--c-cyan-400);
}
.project-2 .section-category-3 .inner-project-3 {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 310px;
  position: relative;
  z-index: 9;
}
.project-2 .section-category-3 .inner-project-3::after {
  position: absolute;
  content: '';
  background-color: rgba(0,0,0,0.4);
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 0;
  left: 0;
}
.inner-project-3-content {
  position: absolute;
  color: var(--c-white-900);
  bottom:20%;
  left: 71px;
  transition: all 0.3s ease-in-out;
}
.inner-project-3-content:hover {
  bottom: 24%;
}
.project-2 .inner-project-3-content:hover h5 a {
  color: var(--c-cyan-400);
}
.all-project-1-content h5 a {
  font-size: 14px;
  color: var(--c-white-900);
}
.all-project-1-content h3 a {
  font-size: 30px;
  font-family: var(--ff-secondary);
  color: var(--c-white-900);
  font-weight: 400;
  margin-top: 10px;
}
.all-project-2-content h5 a {
  font-size: 14px;
  color: var(--c-white-900);
}
.all-project-2-content h3 a {
  font-size: 30px;
  font-family: var(--ff-secondary);
  color: var(--c-white-900);
  font-weight: 400;
  margin-top: 10px;
}
.inner-project-1 .inner-project-1-content h5 a {
  font-size: 14px;
  color: var(--c-white-900);
}
.inner-project-1 .inner-project-1-content h3 a {
  font-size: 30px;
  font-family: var(--ff-secondary);
  color: var(--c-white-900);
  font-weight: 400;
  margin-top: 10px;
}
.inner-project-2 .inner-project-2-content h5 a {
  font-size: 14px;
  color: var(--c-white-900);
}
.inner-project-2 .inner-project-2-content h3 a {
  font-size: 30px;
  font-family: var(--ff-secondary);
  color: var(--c-white-900);
  font-weight: 400;
  margin-top: 10px;
}
.inner-project-3 .inner-project-3-content h5 a {
  font-size: 14px;
  color: var(--c-white-900);
}
.inner-project-3 .inner-project-3-content h3 a {
  font-size: 30px;
  font-family: var(--ff-secondary);
  color: var(--c-white-900);
  font-weight: 400;
  margin-top: 10px;
}

.project-2 {
  display: none;
}
.project-heading {
  display: none;
}
/*---project-2 carousel End for 991px to 320px---*/


/*---Introduction-Start---*/

.introduction {
  padding: 170px 0;
}
.introduction .custom-heading {
  text-align: left;
} 

.introduction .intro-left p {
  font-family: var(--ff-secondary);
  font-size: 30px;
  line-height: 53px;
  color:#0c171f;
  margin-top: 60px;
  font-weight: 400;
  padding-right: 65px;
}
.introduction .intro-right{
  padding-top: 82px;
}
.introduction .intro-right .website li h2 {
  font-family: var(--ff-tertiary);
  font-size: 73px;
  color:#0c171f;
  font-weight: 700;
}
.introduction .intro-right .website li p {
  font-family: var(--ff-secondary);
  font-size: 17px;
  color:#0c171f;
  line-height: 26px;
  font-weight: 400;
  margin-top: 12px;
}
.introduction .intro-right .count-2 {
  margin-top: 40px;
}

/*---Introduction-End---*/




/*---Leading-Brands-Start---*/

/* .brand-image {
  margin-top: 100px;
  text-align: center;
} */
.leading-brands {
  padding:180px 0;
}



/*---Leading-Brands-End---*/


/*---blog-section-start----*/

/* .custom-heading {
  font-family:var(--ff-secondary);
  font-size: 45px;
  font-weight:400;
  color:#0c171f;
  text-align: center;
} */
.custom-paragraph {
  font-family:var(--ff-primary);
  color:var(--c-secondary-text);
  font-size:19px;
  line-height:35px;
  text-align: center;
  margin-top: 55px;
}



/* .brand-image {
  margin-top: 80px;
} */
.leading-brands {
  padding:160px 0;
}
.leading-brands .brand-image{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 46px 0;
  margin-top: 80px;
}
.leading-brands .brand-image .brand-item{
  flex: 0 0 20%;
  /* display: inline-block; */
} 
.leading-brands .brand-carousal-image{
  display: none;
}
.leading-brands .brand-carousal-image .owl-carousel .owl-item img {
  width: auto;
}

/* .leading-brands .brand-image ul li{
  display: inline-block;
  margin: 0 60px;
}
.leading-brands .brand-image ul.row-2 li{
  margin-top: 67px;
} */


.blog-section {
  background-color: var(--c-black-800);
}
.custom-heading h5 .sub-heading .c-white-900 {
  font-family: #d6d6d7;
  color:var(--c-cyan-100);
  font-size:18px;
}
.blog-text p {
  font-family:var(--ff-secondary);
  font-size: 37px;
  font-weight:700;
  line-height: 55px;
  color:var(--c-cyan-100);
  margin-top: -50px;
  padding: 60px 0 32px 0;
  width: 71%;
  position: relative;
}
.blog-text p::after {
  content: "";
  position: absolute;
  background-color: #5a5a5a;
  bottom: 0px;
  width: 1440px;
  height: 1px;
  left: 0;
}

.blog-button {
  margin-top: 25px;
  margin-left: 10px;
}

.blog-content {
  margin-bottom: 126px;
}

.blog-section.custom-pad {
  padding-top: 165px;
}
/*---blog-section-end---*/


/*---Technology-Start---*/

.technology {
  padding: 150px 0;
}

.custom-paragraph p {
  margin: 0;
  padding: 0 150px;
  font-size: 18px;
  color: var(--c-black-text);
  line-height: 30px;
  font-weight: 400;
  font-family: var(--c-black-600);
}

.owl-images {
  /* width: 35%; */
  display: inline-block;
}

.item {
  text-align: center;
}

.technology-carousel .item .owl-images img {
  width: 50px;
  height: 50px;
  object-fit: contain;
}
.technology-carousel {
  margin-top: 80px;
}

.technology-carousel .item .tech-image-title-wrap .tech-image-title .tech-image-title {
  padding-top: 30px;
  font-size: 18px;
  font-weight: bold;
  font-family: var(--ff-primary);
}


/*---Technology-end---*/

/*---Contact us Start(Supriyo)---*/
.contact-us .custom-heading.ms-md-0 {
  padding: 0px 230px 0 0px;
}
.contact-us {
  padding: 130px 0 145px;
  background-color:var(--c-cyan-100);
}
.contact-us .custom-heading h5 {
  font-family: var(--ff-primary);
  font-size: 18px;
  color: var(--c-black-700);
  text-align: left;
}
.contact-us .custom-heading h3 {
  text-align: left;
  font-family:var(--ff-secondary);
  color:var(--c-black-800);
  line-height: 66px;
  font-size: 45px;
}
.contact-top-right p {
  padding: 0 140px 0 0;
}
.contact-top-right p {
  font-family: var(--ff-primary);
  color: var(--c-gray-800);
  font-size: 19px;
  line-height: 33px;
}
.contact-form .form-control {
  background-color: transparent;
  border: 1px solid transparent;
  border-bottom: 1px solid var(--c-gray-900);
  border-radius: 0px;
}
.contact-form  .form-control::placeholder {
  font-family: var(--ff-primary);
  color: var(--c-gray-900);
  opacity: 1;
  font-size: 20px;
}
.contact-form .form-control {
  margin: 0 0 70px 0;
  padding: 0 0 15px 0;
}
.contact-us .contact-form #exampleFormControlTextarea1 {
  height: 130px;
  width: 100%;
}
.contact-form .form-label {
  font-family: var(--ff-primary);
  color: var(--c-gray-900);
  opacity: 1;
  font-size: 20px;
}
.contact-form {
  margin-top: 158px;
}
.contact-button {
  text-align: right;
}
.contact-button .custom-button {
  margin-right: 0px;
  transition: all 0.3s ease-in-out;
}

/*---Contact us End(Supriyo)---*/


/*---Footer-start---*/
.footer-wrap {
  padding: 175px 0 135px;
  background-color: var(--c-black-800);
  color: var(--c-white-900);
}
/* Paulami 22.09.2022 Start */
.footer-wrap .footer-5 .custom-phone-heading {
  margin-bottom: 28px;
}
.footer-wrap .footer-5 ul li a{
  font-family:var(--ff-secondary);
  font-size: 20px;
  font-weight: 400;
  color:var(--c-cyan-100);
}
.footer-wrap .footer-5 ul li a:hover{
  border-bottom: 1px dotted var(--c-cyan-400);
}
/* Paulami 22.09.2022 End */

.footer-wrap .custom-footer-heading {
  font-size: 13px;
  font-family: var(--ff-primary);
  color:var(--c-secondary-text);
}
.footer-wrap .links {
  margin-top: 30px;
}
.footer-wrap .vertical-footer-wrap .links li {
  padding: 0 0 10px 0;
}
.footer-wrap .vertical-footer-wrap .links a {
  font-family:var(--ff-secondary);
  /* color:var(--c-tertiary-text); */
  color: var(--c-cyan-100);
  font-weight: 400;
  font-size: 20px;
  position: relative;
}
.footer-wrap .vertical-footer-wrap .links a::after{
  background: none repeat scroll 0 0 transparent;
  bottom: -3px;
  content: "";
  display: block;
  height: 1px;
  right: 0%;
  position: absolute;
  background: var(--c-cyan-400);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.footer-wrap .vertical-footer-wrap .links a:hover::after{
  width: 100%; 
  left: 0; 
}
.vertical-footer .vertical-footer-wrap {
  padding: 0 0 55px 0;
}
.footer-wrap .footer-5 .contact li p {
  font-family:var(--ff-secondary);
  /* color:var(--c-tertiary-text); */
  color: var(--c-cyan-100);
  font-weight: 400;
  font-size: 20px;
  margin-top:30px;
  line-height:30px;
}
.footer-wrap .contact li {
  padding: 0 0 47px 0;
}
.footer-wrap .footer-5 .follow-us {
  margin-top: 30px;
}
.footer-wrap .footer-5 .contact li .follow-us li {
  display: inline-block;
  padding: 0 5px 0px 0;
}
.footer-wrap .footer-5 .contact li .follow-us li a {
  font-size: 16px;
  display: inline-block;
  text-decoration: none;
  border: 1px solid var(--c-white-900);
  height:31px;
  width: 31px;
  line-height: 31px;
  border-radius: 50px;
  color: var(--c-white-900);
  text-align: center;
}
.copyright-left p {
  font-size: 12px;
  font-family: var(--c-primary-text);
  color:var(--c-secondary-text);
}
.copyright-right .review li h5 {
  font-size: 13px;
  font-family: var(--c-primary-text);
  color:var(--c-secondary-text);
  margin-right: 30px;
}
.copyright-right .review li {
  display: inline-block;
  padding: 0 0 0 5px;
}
.copyright-right {
  text-align: right;
  /* margin-top: 100px; */
}
.copyright-left {
   margin-top: 60px;
}

/*---Footer-End---*/






